{varType HnutiBrontosaurus\Theme\UI\DataContainers\Events\Label[] $labels}

<div class="eventLabels" n:inner-foreach="$labels as $label">
	<div n:class="
		'eventLabels__item',
		$label->hasSelectorModifier ? 'eventLabels__item--type',
		$label->hasSelectorModifier ? 'eventLabels__item--' . $label->selectorModifier,
	">
		{$label->label}
	</div>
</div>
