{varType HnutiBrontosaurus\Theme\UI\DataContainers\Events\EventDC $event}
{varType string $alternativeForFullEventLink}

<div class="registration">
	{if $event->isFull}
		<p class="registration__full">
			<strong>Tato akce už má bohužel plno.</strong><br>
			Buď se vrať se zpět, nebo se podívej <a href="{$alternativeForFullEventLink}">co se chystá</a>.
		</p>

	{elseif ! $event->isRegistrationRequired}
		<p class="registration__text">
			Na tuto akci není třeba se hlásit, stačí přijít. 😉
		</p>
	{else}
		<a
			class="registration__actionButton button button--primary"
			href="{$event|resolveRegistrationLink}"
			rel="noopener"
		>
			Chci jet
		</a>
	{/if}
</div>
