$typography-breakpoint: 60em;
$typography-breakpoint-small-until: "max-width: " + $typography-breakpoint;
$typography-breakpoint-large-from: "min-width: " + ($typography-breakpoint + 0.001);

$header-breakpoint-navigationHiddenToVisible: 39em;
@mixin header-navigation-collapsed-until() {
	@media ($header-breakpoint-navigationHiddenToVisible-hidden-until) {
		@content;
	}
}
@mixin header-navigation-expanded-from() {
	@media ($header-breakpoint-navigationHiddenToVisible-visible-from) {
		@content;
	}
}

$description-breakpoint-oneColumnToTwoColumns: 40em;
$description-breakpoint-oneColumn-until: "max-width: " + $description-breakpoint-oneColumnToTwoColumns;
$description-breakpoint-twoColumns-from: "min-width: " + ($description-breakpoint-oneColumnToTwoColumns + 0.001);

$header-breakpoint-navigationHiddenToVisible-hidden-until: "max-width: " + $header-breakpoint-navigationHiddenToVisible;
$header-breakpoint-navigationHiddenToVisible-visible-from: "min-width: " + ($header-breakpoint-navigationHiddenToVisible + 0.001);

$detail-breakpoint-mediumToLarge: 50em;
$detail-breakpoint-medium-until: "max-width: " + $detail-breakpoint-mediumToLarge;
$detail-breakpoint-large-from: "min-width: " + ($detail-breakpoint-mediumToLarge + 0.001);

$default-breakpoint-oneColumnToTwoColumns: 45em;
$default-breakpoint-oneColumn-until: "max-width: " + $default-breakpoint-oneColumnToTwoColumns;