/* text align */
.hb-ta-l { text-align: left; }
.hb-ta-c { text-align: center; }
.hb-ta-r { text-align: right; }

/* font size */
.hb-fs-xxs { font-size: 0.7rem; }
.hb-fs-xs { font-size: 0.8rem; }
.hb-fs-s { font-size: 0.9rem; }
.hb-fs-m { font-size: 1rem; }
.hb-fs-l { font-size: 1.1rem; }
.hb-fs-xl { font-size: 1.5rem; }

/* font weight */
.hb-fw-r { font-weight: 300; }
.hb-fw-b { font-weight: 700; }

/* margin inline */
.hb-mi-auto { margin-inline: auto; }
.hb-mi-0 { margin-inline: 0; }
.hb-mi-1 { margin-inline: 0.125rlh; }
.hb-mi-2 { margin-inline: 0.25rlh; }
.hb-mi-3 { margin-inline: 0.5rlh; }
.hb-mi-4 { margin-inline: 1rlh; }
.hb-mi-5 { margin-inline: 2rlh; }
.hb-mi-6 { margin-inline: 3rlh; }
.hb-mi-7 { margin-inline: 4rlh; }
.hb-mi-8 { margin-inline: 5rlh; }
.hb-mi-9 { margin-inline: 6rlh; }

/* margin inline start */
.hb-mis-auto { margin-inline-start: auto; }
.hb-mis-0 { margin-inline-start: 0; }
.hb-mis-1 { margin-inline-start: 0.125rlh; }
.hb-mis-2 { margin-inline-start: 0.25rlh; }
.hb-mis-3 { margin-inline-start: 0.5rlh; }
.hb-mis-4 { margin-inline-start: 1rlh; }
.hb-mis-5 { margin-inline-start: 2rlh; }
.hb-mis-6 { margin-inline-start: 3rlh; }
.hb-mis-7 { margin-inline-start: 4rlh; }
.hb-mis-8 { margin-inline-start: 5rlh; }
.hb-mis-9 { margin-inline-start: 6rlh; }

/* margin inline end */
.hb-mie-auto { margin-inline-end: auto; }
.hb-mie-0 { margin-inline-end: 0; }
.hb-mie-1 { margin-inline-end: 0.125rlh; }
.hb-mie-2 { margin-inline-end: 0.25rlh; }
.hb-mie-3 { margin-inline-end: 0.5rlh; }
.hb-mie-4 { margin-inline-end: 1rlh; }
.hb-mie-5 { margin-inline-end: 2rlh; }
.hb-mie-6 { margin-inline-end: 3rlh; }
.hb-mie-7 { margin-inline-end: 4rlh; }
.hb-mie-8 { margin-inline-end: 5rlh; }
.hb-mie-9 { margin-inline-end: 6rlh; }

/* margin block */
.hb-mb-auto { margin-block: auto; }
.hb-mb-0 { margin-block: 0; }
.hb-mb-1 { margin-block: 0.125rlh; }
.hb-mb-2 { margin-block: 0.25rlh; }
.hb-mb-3 { margin-block: 0.5rlh; }
.hb-mb-4 { margin-block: 1rlh; }
.hb-mb-5 { margin-block: 2rlh; }
.hb-mb-6 { margin-block: 3rlh; }
.hb-mb-7 { margin-block: 4rlh; }
.hb-mb-8 { margin-block: 5rlh; }
.hb-mb-9 { margin-block: 6rlh; }

/* margin block start */
.hb-mbs-auto { margin-block-start: auto; }
.hb-mbs-0 { margin-block-start: 0; }
.hb-mbs-1 { margin-block-start: 0.125rlh; }
.hb-mbs-2 { margin-block-start: 0.25rlh; }
.hb-mbs-3 { margin-block-start: 0.5rlh; }
.hb-mbs-4 { margin-block-start: 1rlh; }
.hb-mbs-5 { margin-block-start: 2rlh; }
.hb-mbs-6 { margin-block-start: 3rlh; }
.hb-mbs-7 { margin-block-start: 4rlh; }
.hb-mbs-8 { margin-block-start: 5rlh; }
.hb-mbs-9 { margin-block-start: 6rlh; }
.hb-mbns-1 { margin-block-start: -0.125rlh; }
.hb-mbns-2 { margin-block-start: -0.25rlh; }
.hb-mbns-3 { margin-block-start: -0.5rlh; }
.hb-mbns-4 { margin-block-start: -1rlh; }
.hb-mbns-5 { margin-block-start: -2rlh; }
.hb-mbns-6 { margin-block-start: -3rlh; }
.hb-mbns-7 { margin-block-start: -4rlh; }
.hb-mbns-8 { margin-block-start: -5rlh; }
.hb-mbns-9 { margin-block-start: -6rlh; }

/* margin block end */
.hb-mbe-auto { margin-block-end: auto; }
.hb-mbe-0 { margin-block-end: 0; }
.hb-mbe-1 { margin-block-end: 0.125rlh; }
.hb-mbe-2 { margin-block-end: 0.25rlh; }
.hb-mbe-3 { margin-block-end: 0.5rlh; }
.hb-mbe-4 { margin-block-end: 1rlh; }
.hb-mbe-5 { margin-block-end: 2rlh; }
.hb-mbe-6 { margin-block-end: 3rlh; }
.hb-mbe-7 { margin-block-end: 4rlh; }
.hb-mbe-8 { margin-block-end: 5rlh; }
.hb-mbe-9 { margin-block-end: 6rlh; }
@media ($typography-breakpoint-large-from) {
	.hb-lg-mbe-auto { margin-block-end: auto; }
	.hb-lg-mbe-0 { margin-block-end: 0; }
	.hb-lg-mbe-1 { margin-block-end: 0.125rlh; }
	.hb-lg-mbe-2 { margin-block-end: 0.25rlh; }
	.hb-lg-mbe-3 { margin-block-end: 0.5rlh; }
	.hb-lg-mbe-4 { margin-block-end: 1rlh; }
	.hb-lg-mbe-5 { margin-block-end: 2rlh; }
	.hb-lg-mbe-6 { margin-block-end: 3rlh; }
	.hb-lg-mbe-7 { margin-block-end: 4rlh; }
	.hb-lg-mbe-8 { margin-block-end: 5rlh; }
	.hb-lg-mbe-9 { margin-block-end: 6rlh; }
}

/* spacer */
.hb-spacer-0 { height: 0; }
.hb-spacer-1 { height: 0.125rlh; }
.hb-spacer-2 { height: 0.25rlh; }
.hb-spacer-3 { height: 0.5rlh; }
.hb-spacer-4 { height: 1rlh; }
.hb-spacer-5 { height: 2rlh; }
.hb-spacer-6 { height: 3rlh; }
.hb-spacer-7 { height: 4rlh; }
.hb-spacer-8 { height: 5rlh; }
.hb-spacer-9 { height: 6rlh; }
@media ($typography-breakpoint-large-from) {
	.hb-lg-spacer-0 { height: 0; }
	.hb-lg-spacer-1 { height: 0.125rlh; }
	.hb-lg-spacer-2 { height: 0.25rlh; }
	.hb-lg-spacer-3 { height: 0.5rlh; }
	.hb-lg-spacer-4 { height: 1rlh; }
	.hb-lg-spacer-5 { height: 2rlh; }
	.hb-lg-spacer-6 { height: 3rlh; }
	.hb-lg-spacer-7 { height: 4rlh; }
	.hb-lg-spacer-8 { height: 5rlh; }
	.hb-lg-spacer-9 { height: 6rlh; }
}
