@use "settings";


/*
.content__dynamic,
.news__item-content,
.editor-styles-wrapper
*/
@mixin hb-content() {
	ol,
	p,
	ul {
		max-inline-size: 28rem;
	}
	@media (settings.$typography-breakpoint-large-from) {
		ol,
		p,
		ul {
			margin-inline: auto;
		}
	}

	* + p,
	* + figure,
	* + .wp-block-columns {
		margin-block-start: 1rlh;
	}

	.wp-block-columns {
		display: grid;
		grid-gap: 1rlh;
		grid-template-columns: 1fr;
		justify-content: center;
		max-width: 28rem;
	}
	@media (settings.$description-breakpoint-twoColumns-from) and (settings.$typography-breakpoint-small-until) {
		.wp-block-columns {
			margin-inline: -1rlh;
			max-width: calc(28rem + 2rlh);
		}
	}
	@media (settings.$typography-breakpoint-large-from) {
		.wp-block-columns {
			grid-template-columns: 1fr 1fr;
			margin-inline: auto;
			max-width: 40rem;
		}
	}
	.wp-block-columns .wp-block-column {
		grid-column-start: span 2;
		margin-inline-start: revert;
	}
	@media (settings.$typography-breakpoint-large-from) {
		.wp-block-columns .wp-block-column {
			grid-column-start: span 1;
		}
	}

	/* see editor.js for image styles */
	.wp-block-image:not(.is-style-sharp) img {
		border-radius: 2em;
	}
}
