{varType HnutiBrontosaurus\Theme\UI\DataContainers\Events\EventDC $event}
{varType string $categoryLink}

<div class="registration">
	{if $event->isFull}
		<p class="registration__text">
			Na tuto akci se už bohužel nedá přihlásit, ale můžeš <a href="{$categoryLink}">zkusit jinou</a>.
		</p>

	{elseif ! $event->isRegistrationRequired}
		<p class="registration__text">
			Na tuto akci není třeba se hlásit, stačí přijít. 😉
		</p>
	{else}
		<a
			class="registration__actionButton button button--primary"
			href="{$event|resolveRegistrationLink}"
			rel="noopener"
		>
			Chci jet
		</a>
	{/if}
</div>
