$photogallery-breakpoint-twoPhotosToFull: 30em;
$photogallery-breakpoint-twoPhotos-until: "max-width: " + $photogallery-breakpoint-twoPhotosToFull;
$photogallery-breakpoint-full-from: "min-width: " + ($photogallery-breakpoint-twoPhotosToFull + 0.001);

.photogallery {
	display: flex;
	flex-wrap: wrap;
	justify-items: center;
	justify-content: center;
	align-items: flex-start;
	list-style-type: none;
}
@media ($photogallery-breakpoint-twoPhotos-until) {
	.photogallery {
		flex-direction: column;
	}
}

.photogallery__item {
	margin-block-end: 0.25rlh;
}
@media ($photogallery-breakpoint-twoPhotos-until) {
	.photogallery__item:not(:nth-child(1)):not(:nth-child(2)) {
		max-height: 0;
		max-width: 0;
		overflow: hidden;
		position: absolute;
	}
}
@media ($photogallery-breakpoint-full-from) {
	.photogallery__item {
		flex-basis: 31%;
		margin-inline-end: 0.25rlh;
	}
}

.photogallery__link {
	display: block;
}

.photogallery__image {
	border-radius: 20px;
}
@media ($photogallery-breakpoint-full-from) {
	.photogallery__image {
		object-fit: cover;
		height: 9.6em;
		width: 100%;
	}
}
