parameters:
    bis:
        url: https://bis.brontosaurus.cz
        applicationUrlTemplate: "https://bis.brontosaurus.cz/akce/{id}/prihlasit?next={returnUrl}"

    sentry:
        dsn:

    enableTracking: false
