<div class="about-structure-map">
	{if $hasBeenUnableToLoad}
		<div class="noResults">
			Promiňte, zrovna&nbsp;nám vypadl systém, kde&nbsp;máme uloženy všechny informace o&nbsp;našich článcích.
			Zkuste&nbsp;to prosím za&nbsp;chvilku znovu.
		</div>
	{else}
		<ul class="about-structure-map-filters" id="about-structure-map-filters">
			<li class="about-structure-map-filters-item" id="mapa-vse">
				<a class="about-structure-map-filters-item-link button button--customization" href="#mapa-vse">
					vše
				</a>
			</li>

			<li class="about-structure-map-filters-item" id="mapa-ustredi" data-slug="office">
				<a class="about-structure-map-filters-item-link about-structure-map-filters-item-link--icon about-structure-map-filters-item-link--office button button--customization" href="#mapa-ustredi">
					ústředí
				</a>
			</li>

			<li class="about-structure-map-filters-item" id="mapa-regionalni-centra" data-slug="regional">
				<a class="about-structure-map-filters-item-link about-structure-map-filters-item-link--icon about-structure-map-filters-item-link--regional button button--customization" href="#mapa-regionalni-centra">
					regionální centra
				</a>
			</li>

			<li class="about-structure-map-filters-item" id="mapa-zakladni-clanky" data-slug="base">
				<a class="about-structure-map-filters-item-link about-structure-map-filters-item-link--icon about-structure-map-filters-item-link--base button button--customization" href="#mapa-zakladni-clanky">
					základní články
				</a>
			</li>

			<li class="about-structure-map-filters-item" id="mapa-kluby" data-slug="club">
				<a class="about-structure-map-filters-item-link about-structure-map-filters-item-link--icon about-structure-map-filters-item-link--club button button--customization" href="#mapa-kluby">
					kluby
				</a>
			</li>

			<li class="about-structure-map-filters-item" id="mapa-detske-oddily" data-slug="children">
				<a class="about-structure-map-filters-item-link about-structure-map-filters-item-link--icon about-structure-map-filters-item-link--children button button--customization" href="#mapa-detske-oddily">
					dětské oddíly BRĎO
				</a>
			</li>
		</ul>

		<div class="about-structure-map-map"
			 id="map"
			 data-organizationalUnits="{$organizationalUnitsInJson}"
			 data-iconsPath="{$viewAssetsPath}/dist/images">
		</div>
	{/if}
</div>
