$about-successes-breakpoint: 40em;
$about-successes-full-until: "max-width: " + $about-successes-breakpoint;
$about-successes-half-from: "min-width: " + ($about-successes-breakpoint + 0.001);

article .about-successes {
	margin-bottom: vr-unit(3);

	&-heading {
		@include heading-first-level();
	}

	&-introduction {
		@include block-text();
		margin-bottom: vr-unit(1);

		@media ($typography-breakpoint-large-from) {
			margin-bottom: vr-unit(2);
		}
	}

	&__callForStories {
		background-color: $colors-tinge;
		border-radius: 1em;
		padding: vr-unit(1);
		max-width: 25rem;
		margin-inline: auto;
		font-size: 0.9em;
		margin-bottom: vr-unit(1);

		@media ($typography-breakpoint-large-from) {
			margin-bottom: vr-unit(2);
		}

		&::before {
			content: "";
			display: block;
			--about-successes-bronto-size: 4rem;
			width: var(--about-successes-bronto-size);
			height: var(--about-successes-bronto-size);
			background-image: url("../images/logo-hb-brontosaurus.svg");
			background-size: auto 100%;
			background-position: center center;
			background-repeat: no-repeat;
			float: right;
			margin: -2.1rem -1.9rem #{vr-unit(1)} #{vr-unit(1)};
		}

		p:not(:last-child) {
			margin-bottom: vr-unit(0.5);
		}
	}

	&-item {
		&:not(:last-child) {
			margin-bottom: vr-unit(2);

			@media ($typography-breakpoint-large-from) {
				margin-bottom: vr-unit(3);
			}
		}

		&-headingWrapper {
			margin-bottom: vr-unit(0.5);

			@media ($typography-breakpoint-large-from) {
				text-align: center;
			}
		}
		&-heading {
			display: inline-block;

			@media ($typography-breakpoint-large-from) {
				font-weight: bold;
			}

			&-castle,
			&-nature {
				position: relative;

				&::before {
					@media ($about-successes-half-from) {
						content: "";
						position: absolute;
						background-size: auto 100%;
						background-repeat: no-repeat;
						width: 20px;
						height: 20px;
						top: 0.2em;
						left: -1.3em;
					}
				}
			}
			&-castle {
				&::before {
					@media ($about-successes-half-from) {
						background-image: url("../images/icon-castle.svg");
					}
				}
			}

			&-nature {
				&::before {
					@media ($about-successes-half-from) {
						background-image: url("../images/icon-nature.svg");
					}
				}
			}
		}

		&-text {
			max-width: 32em;
			margin-bottom: vr-unit(1);

			@media ($typography-breakpoint-large-from) {
				margin-left: auto;
				margin-right: auto;
			}
		}

		&-quotation {
			max-width: 47.5rem;
			margin-bottom: vr-unit(1);

			@media ($presentationBox-breakpoint-textOnSide-from) {
				margin-bottom: vr-unit(2);
			}

			&-name {
				font-size: 0.8em;
				text-align: right;
				line-height: 1.3;
				color: #444;
			}
		}
		&-quote {
			padding: vr-unit(2) vr-unit(1);
			flex-basis: 100%;
			text-align: center;
			font-weight: $fonts-delm-weight-bold;

			@media ($header-breakpoint-navigationHiddenToVisible-visible-from) {
				padding-left: vr-unit(2);
				padding-right: vr-unit(2);
			}
			@media ($about-successes-half-from) {
				flex-basis: 50%;
				padding-top: vr-unit(4);
				padding-bottom: vr-unit(4);
			}
		}
	}

	&-contact {
		display: block;
		max-width: 18em;
		margin: -#{vr-unit(0.5)} auto 0;
		font-size: 0.85em;
		text-align: center;

		@media ($typography-breakpoint-large-from) {
			margin-top: -#{vr-unit(1)};
		}
	}

	&__support {
		@media ($typography-breakpoint-large-from) {
			max-width: 25em;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}

		p {
			margin-bottom: vr-unit(0.5);
		}
	}
}
