$detail-breakpoint-mediumToLarge: 50em;
$detail-breakpoint-medium-until: "max-width: " + $detail-breakpoint-mediumToLarge;
$detail-breakpoint-large-from: "min-width: " + ($detail-breakpoint-mediumToLarge + 0.001);

.detail {
	@media ($photogallery-breakpoint-full-from) {
		max-width: 25em;
		margin-left: auto;
		margin-right: auto;
	}
	@media ($detail-breakpoint-large-from) {
		max-width: 40em;
	}


	&__noResults {
		margin-bottom: vr-unit(4);
	}


	&__heading {
		margin-bottom: vr-unit(1) !important; // overwrite `.content h1` rule
		font-variant-caps: small-caps;
		text-align: center;
	}


	// BASIC INFORMATION

	&__top {
		display: flex;
		flex-direction: column;
		margin-bottom: vr-unit(2);
		border-radius: 2em;
		background-color: $colors-tinge;

		@media ($detail-breakpoint-large-from) {
			flex-direction: row;
			align-items: center;
			min-height: 18em;
		}
	}

	// cover image and tag list

	&__tagList-wrapper {
		position: relative;

		@media ($detail-breakpoint-medium-until) {
			border-bottom: 2px solid $colors-emphasizing;
		}
		@media ($detail-breakpoint-large-from) {
			align-self: stretch;
			flex-basis: 40%;
			border-right: 2px solid $colors-emphasizing;
		}
	}

	&__coverImage-wrapper {
		display: contents;
		height: 100%; // in case of browser does not understand `display: contents`
	}
	&__coverImage {
		--detail-coverImage-height: 15em;
		width: 100%;
		object-fit: cover;

		@media ($detail-breakpoint-medium-until) {
			max-height: var(--detail-coverImage-height);
			border-top-left-radius: 2em;
			border-top-right-radius: 2em;
		}
		@media ($detail-breakpoint-large-from) {
			max-height: 18em;
			min-height: 100%;
			border-top-left-radius: 2em;
			border-bottom-left-radius: 2em;
		}

		&--none {
			height: var(--detail-coverImage-height);
			background-color: $colors-tinge;
			background-image: url("../images/logo-hb-brontosaurus.svg");
			background-position: center center;
			background-repeat: no-repeat;

			@media ($detail-breakpoint-large-from) {
				height: 100%;
			}
		}
	}

	&__tagList {
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 0 vr-unit(0.5) vr-unit(0.5);
		text-align: center;
	}

	&__basicInformation-wrapper {
		flex-basis: 60%;
	}

	&__basicInformation {
		display: table;
		margin: vr-unit(1) auto;
	}
	&__basicInformation-item {
		display: table-row;
	}
	&__basicInformation-label,
	&__basicInformation-value {
		display: table-cell;
		vertical-align: top;
	}
	&__basicInformation-label {
		padding-left: vr-unit(1);
		padding-right: vr-unit(1);
		padding-bottom: vr-unit(0.25);
		font-weight: bold;
		text-align: right;
	}
	&__basicInformation-value {
		padding-right: vr-unit(1);
	}
	&__basicInformation-mapLink {
		background-image: url("../images/icon-link-external-alt.svg");
		background-position: right 0.2em;
		background-size: auto 13px;
		background-repeat: no-repeat;
		padding-right: calc(13px + #{vr-unit(0.25)});
	}

	&__basicInformation-priceNoFee {
		font-style: italic;
	}


	&__firstTimeAttendeesInformation {
		padding: vr-unit(1) vr-unit(1) calc(#{vr-unit(1)} - 0.15rem);
		text-align: center;

		@media ($detail-breakpoint-medium-until) {
			border-bottom-right-radius: 2em;
			border-bottom-left-radius: 2em;
			background-color: $colors-tinge;
		}
		@media ($detail-breakpoint-large-from) {
			margin-bottom: vr-unit(0.5);
			padding-top: vr-unit(0.5);
			font-weight: bold;
		}
	}

	&__registrationLink {
		margin-bottom: vr-unit(2);
	}


	// EXPANDED INFORMATION

	&-program,
	&-information,
	&-work,
	&-example-text,
	&-team,
	&-contact,
	&-promo {
		max-width: 55ch;
		margin-left: auto;
		margin-right: auto;
	}

	&-program,
	&-information,
	&-work,
	&-team,
	&-promo {
		&-paragraph {
			&:not(:last-child) {
				margin-bottom: vr-unit(0.5);
			}
		}
	}

	&-program,
	&-information,
	&-work,
	&-team {
		margin-bottom: vr-unit(1);
	}

	&-information {
		&-paragraph {
			&-link {
				color: $colors-emphasizing;
			}
		}

		&-list {
			list-style-type: none;
		}
	}

	&-example {
		margin-bottom: vr-unit(1);

		&-text {
			margin-bottom: vr-unit(0.5);
		}
	}

	&-contact {
		margin-bottom: vr-unit(2);

		&-wrapperButton {
			text-align: center;
			margin-bottom: vr-unit(0.5);
		}
		&-button {
			margin-bottom: 0;
		}

		&-data {
			margin-bottom: vr-unit(0.75);

			&-website {
				background-image: url("../images/icon-link-external-alt.svg");
				background-position: right 0.2em;
				background-size: auto 10px;
				background-repeat: no-repeat;
				padding-right: calc(10px + #{vr-unit(0.25)});
			}
		}
	}

	&-registrationLink-wrapper {
		margin-bottom: vr-unit(3);
	}

	&-promo {
		&-moreLink {
			margin-top: vr-unit(1);
		}
	}
}

.detail-promo {
	max-width: 60ch;
	margin-left: auto;
	margin-right: auto;
}
