.english {
	&-heading {
		@include block-text();
	}

	&-paragraph {
		@include block-text();
		margin-bottom: vr-unit(2);
		hyphens: auto;
	}

	&-subheading {
		@include block-text();
	}

	&-list {
		margin-bottom: vr-unit(1);
	}

	&-card {
		max-width: 22em;
		margin-left: -#{vr-unit(1)};
		padding: vr-unit(1);

		@media ($header-breakpoint-navigationHiddenToVisible-hidden-until), ($typography-breakpoint-large-from) {
			max-width: 25em;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}

		&-text {
			margin-bottom: vr-unit(1);
			max-width: 15em;

			@media ($header-breakpoint-navigationHiddenToVisible-hidden-until), ($typography-breakpoint-large-from) {
				margin-left: auto;
				margin-right: auto;
			}
		}

		&-contactLink {
			text-transform: none;
		}
	}
}
