.error404 {
	&__lead {
		@include block-text();
		margin-bottom: vr-unit(2);

		@media ($typography-breakpoint-large-from) {
			text-align: center;
		}
	}

	&__paragraph {
		@include block-text();
		margin-bottom: vr-unit(1);
	}

	&__whatNow {
		margin-bottom: vr-unit(2);
	}
}
