.firstTime {
	&__text {
		@include block-text();
		margin-bottom: vr-unit(1);
	}

	&__hero {
		margin-top: vr-unit(1);
		margin-bottom: vr-unit(2);
		background-image: url("../images/box-firstTime.jpg");

		@media ($typography-breakpoint-large-from) {
			margin-bottom: vr-unit(3);
		}
	}

	&__list {
		margin-bottom: vr-unit(1);
	}

	&__chooseEvent {
		text-align: center;
	}
}
