$news-breakpoint-coverImageBelowToFloating: $header-breakpoint-navigationHiddenToVisible;
$news-breakpoint-coverImageBelow-until: "max-width: " + $news-breakpoint-coverImageBelowToFloating;
$news-breakpoint-coverImageFloating-from: "min-width: " + ($news-breakpoint-coverImageBelowToFloating + 0.001);

.news {
	max-width: 28rem;
	margin-left: auto;
	margin-right: auto;

	&__list {
		list-style-type: none;

		&--empty {
			@media ($typography-breakpoint-large-from) {
				text-align: center;
			}
		}
	}

	&__item {
		margin-bottom: vr-unit(2);
		clear: right;
	}

	&__link {
		text-decoration: none;

		&:hover {
			color: inherit !important;
		}
	}

	&__item-heading {
		margin-bottom: 0 !important;
		line-height: 1.1;
	}
	&:not(&--single) &__item-heading {
		// overwrite global h2 rules
		text-align: left !important;
		font-size: 1.3em !important;
		transition: color 200ms linear;
	}
	&__link:hover &__item-heading {
		color: $colors-emphasizing;
	}

	&__item-date {
		display: block;
		margin-top: -0.3em;
		margin-bottom: vr-unit(0.25);
		font-size: 0.75em;
		color: $colors-framing;
	}
	&--single &__item-date {
		margin-top: -0.5em;
		margin-bottom: vr-unit(1);
		text-align: center;
	}

	&__item-content {
		@include hb-content();
		@media ($news-breakpoint-coverImageBelow-until) {
			display: flex;
			flex-direction: column;
		}
	}

	&__item-coverImage {
		@media ($news-breakpoint-coverImageBelow-until) {
			order: 1;
			max-width: 15em;
		}
		@media ($news-breakpoint-coverImageFloating-from) {
			float: right;
			max-width: 11em;
			margin-left: vr-unit(0.5);
			margin-bottom: vr-unit(0.5);
		}

		img {
			border-radius: 2em;
		}
	}

	&__item-moreLink {
		margin-block-start: #{vr-unit(0.5)};
		color: $colors-framing;
		font-size: 0.85em;
		transition: color 200ms linear;
	}
	&__link:hover &__item-moreLink {
		color: $colors-text;
	}

	&__clear {
		clear: right;
	}
}
