.newVersionAnnouncement {
	&__paragraph {
		@include block-text();
		margin-bottom: vr-unit(1);
	}

	&__tips {
		margin-bottom: vr-unit(1);
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		background-color: transparent !important;
	}
}
