.rentals {
	&__introText {
		@include block-text();
		margin-bottom: vr-unit(1);
	}


	// table of contents

	&__tableOfContents {
		margin-bottom: vr-unit(2);
	}

	&__tableOfContents-heading {
		margin-bottom: vr-unit(0.5);
		font-weight: bold;

		@media ($typography-breakpoint-large-from) {
			max-width: 28rem;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__tableOfContents-list {
		@media ($typography-breakpoint-large-from) {
			max-width: 28rem;
			padding-left: vr-unit(1);
		}
	}


	// place

	&__place {
		&:not(:last-child) {
			margin-bottom: vr-unit(2);

			@media ($typography-breakpoint-large-from) {
				margin-bottom: vr-unit(3);
			}
		}
	}

	&__subsection {
		@include block-text();

		&:not(:last-child) {
			margin-bottom: vr-unit(1);
		}
	}
	&__subsection-heading:not(.increaseSelectorSpecificity) { // hack to increase selector specificity
		margin-bottom: vr-unit(0.5);
		font-weight: bold;
		font-size: 1em;
	}

	&__mapLink {
		display: block;
		max-width: max-content;
		margin-bottom: vr-unit(0.5);
		font-size: 0.8em;

		@media ($typography-breakpoint-large-from) {
			margin-left: auto;
			margin-right: auto;
		}

		&::before {
			content: "";
			position: absolute;
			display: block;
			width: 14px;
			height: 14px;
			margin-top: 0.1em;
			margin-left: -1em;
			background-color: $colors-emphasizing;
			mask-image: url("../images/icon-place.svg");
			mask-position: left center;
			mask-repeat: no-repeat;
			mask-size: auto 100%;
		}
	}

	&__table {
		margin-bottom: vr-unit(0.5);
	}

	&__table-label,
	&__table-price {
		border: 1px solid $colors-tinge;
		padding: vr-unit(0.5) vr-unit(0.5) calc(#{vr-unit(0.5)} - 0.35em);
	}

	&__table-price {
		background-color: $colors-tinge;
	}

	&__accomodation {
		padding-left: 0.8em;
	}

	&__photogallery {
		justify-content: flex-start; // fallback
		justify-content: start;
	}

	&__contact {
		font-style: normal;
	}
}
