$support-adoption-personalData-breakpoint: 23em;
$support-adoption-personalData-normalFlow-until: "max-width: " + $support-adoption-personalData-breakpoint;
$support-adoption-personalData-grid-from: "min-width: " + ($support-adoption-personalData-breakpoint + 0.001);

.support-adoption {
	&-paragraph {
		@include block-text();
		margin-bottom: vr-unit(1);
	}

	&-form {
		max-width: 35em;
		margin: 0 auto vr-unit(2);

		&-donation {
			padding: 0;
			border: none;
			margin-bottom: vr-unit(2);

			&-legend {
				text-align: center;
				color: $colors-emphasizing;
				border-bottom: 1px solid $colors-emphasizing;
				width: 100%;
				margin-bottom: vr-unit(2);
			}

			&-item {
				max-width: 24em;
				margin: 0 auto 0.25em;
				position: relative;

				&-checkbox {
					&-custom {
						max-width: 3em;
						border-top: none !important;
						border-left: none !important;
						border-right: none !important;
						background: none !important;
						border-radius: 0 !important;
						margin: -5px 0.25em 0;
						padding: 5px 5px 0 !important;
						height: auto !important;
						text-align: right;
					}
				}

				&-label {
					&-currency {
						color: $colors-emphasizing;
					}
				}
			}
		}

		&-personalData {
			padding: 0;
			border: none;
			margin-bottom: vr-unit(2);

			&-legend {
				text-align: center;
				color: $colors-emphasizing;
				border-bottom: 1px solid $colors-emphasizing;
				width: 100%;
				margin-bottom: vr-unit(2);
			}

			&-gridWrapper {
				margin: 0 auto;
				display: grid;
				grid-template-rows: auto;

				@media ($support-adoption-personalData-normalFlow-until) {
					max-width: 15em;
					grid-template-columns: 1fr;
					grid-row-gap: vr-unit(1);
				}
				@media ($support-adoption-personalData-grid-from) {
					max-width: 25em;
					grid-column-gap: vr-unit(1);
					grid-row-gap: vr-unit(1.5);
					grid-template-columns: 20% 20% auto auto;
					grid-template-areas:
						"name name lastName lastName"
						"street street number psc"
						"email email email .";
				}
			}

			&-item {
				position: relative;

				&-input {
					width: 100%;
				}

				&-label {
					position: absolute;
					top: -9px;
					left: 17px;
					background-color: $colors-default-background;
					padding: 0 3px;
					color: $colors-emphasizing;
					font-size: 0.9em;
				}

				&--name {
					@media ($support-adoption-personalData-grid-from) {
						grid-area: name;
					}
				}

				&--lastName {
					@media ($support-adoption-personalData-grid-from) {
						grid-area: lastName;
					}
				}

				&--street {
					@media ($support-adoption-personalData-grid-from) {
						grid-area: street;
					}
				}

				&--number {
					@media ($support-adoption-personalData-grid-from) {
						grid-area: number;
					}
				}

				&--psc {
					@media ($support-adoption-personalData-grid-from) {
						grid-area: psc;
					}
				}

				&--email {
					@media ($support-adoption-personalData-grid-from) {
						grid-area: email;
					}
				}
			}
		}

		&-donationPlace {
			margin: 0 auto vr-unit(2);
			max-width: 22em;
			display: flex;
			align-items: center;

			&-label {
				padding-right: vr-unit(0.5);
			}

			&-select {
				border: 1px solid $colors-emphasizing;
				border-radius: 6px;
				height: 2em;
				padding: 10px 6px 10px 3px;
				background: $form-linear-gradient;
				min-width: 8em;
			}
		}

		&-processingPersonalData {
			max-width: 22em;
			margin: 0 auto vr-unit(1);
		}

		&-buttonWrapper {
			text-align: center;
			margin-bottom: vr-unit(2);
		}
	}

	&-subheading {
		font-weight: bold;
		text-align: center;
		font-size: 1.2em;
		margin-bottom: vr-unit(0.5);
	}
}
