.about-structure {
	&__graphics {
		flex-basis: 17em;
		flex-shrink: 0;

		// hide on small screens and touch devices
		@media (max-width: 50em), (pointer: none), (pointer: coarse) {
			display: none;
		}
	}

	&__subheading {
		font-weight: $fonts-delm-weight-bold !important;
	}

	&__text:not(:last-child) {
		margin-block-end: 0.5rlh;
	}

	&__presentationBox {
		@include presentationBox-breakpoint-textOnSide-from() {
			min-height: vr-unit(15);
		}
	}
}
