article .about-crossroad {
	&__heading {
		@include heading-first-level();
	}

	&__crossroad {
		max-width: 40rem;
		list-style-type: none;
	}

	&__tile { // intentionally did not use .hero component as it would modify almost every rule of that component
		display: block;
		height: 18em;
		border-radius: 2em;

		&--structure {
			background-image: url("../images/hlavicka-struktura-organizace.jpg");
			background-size: 41em;
			background-position: 80% top;
		}

		&--successes {
			background-image: url("../images/aboutSuccesses-lukov.jpg");
			background-size: 40em;
			background-position: -4em -2em;
		}
	}
}
