article .about-highlights {
	text-align: center;
	margin-bottom: vr-unit(3);

	&-heading {
		@include heading-first-level();
	}

	&-list {
		max-width: 20rem;
		margin-bottom: vr-unit(1);
	}

	&-action {
		display: block;
		max-width: 10em; // fallback
		max-width: max-content;
		margin-left: auto;
		margin-right: auto;
	}
}
