$about-successes-breakpoint: 40em;
$about-successes-full-until: "max-width: " + $about-successes-breakpoint;
$about-successes-half-from: "min-width: " + ($about-successes-breakpoint + 0.001);

.about-successes {
	&__video {
		iframe {
			display: block;
			inline-size: 100%;
			aspect-ratio: 16/9;
			border-radius: 2em;
		}
	}
}
