.baseUnits {
	&__contact {
		margin-inline-start: -0.2rem;
	}

	&__address,
	&__website,
	&__emailAddress {
		position: relative;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			width: 0.9em;
			height: 0.8em;
			background-color: $colors-emphasizing;
			mask-size: auto 100%;
			mask-position: center center;
			mask-repeat: no-repeat;
			transform: translateY(0.2em);
		}
	}
	&__address::before {
		mask-image: url("../images/icon-place-green.svg");
	}
	&__website::before {
		mask-image: url("../images/icon-globe.svg");
	}
	&__emailAddress::before {
		mask-image: url("../images/icon-letter.svg");
	}
}
