.contacts {
	&__introduction {
		@include block-text();
	}

	&__box {
		max-inline-size: 35rem;
		margin-inline: auto;
		margin-block-end: 1rlh;
		display: grid;
		grid-template-areas:
			"map"
			"contacts"
			"openingHours";
		grid-template-columns: 100%;
		grid-template-rows: 30vh auto auto;
		border-radius: 2em;
		overflow: hidden;

		@media ($header-breakpoint-navigationHiddenToVisible-visible-from) {
			grid-template-areas:
				"map contacts"
				"map openingHours";
			grid-template-columns: 50% 50%;
			grid-template-rows: 50% 50%;
		}
	}

	&__boxInner {
		grid-area: contacts;
		font-style: normal;
		background-color: $colors-tinge;
		padding: 2rlh;
		font-size: 0.9em;
	}

	&__map {
		grid-area: map;
		inline-size: 100%;
		block-size: 100%;
	}

	&__boxItem {
		&::before {
			content: "";
			display: block;
			position: absolute;
			margin-inline-start: calc(-0.5rlh - 20px);
			inline-size: 2em;
			margin-block-start: 0.05em;
			background-size: auto 100%;
			background-repeat: no-repeat;
		}

		&--address {
			&::before {
				background-image: url("../images/icon-place-green.svg");
				background-position-x: 3px;
				block-size: 23px;
			}
		}
		&--phone {
			&::before {
				background-image: url("../images/icon-phone.svg");
				block-size: 24px;
			}
		}
		&--email {
			&::before {
				background-image: url("../images/icon-letter.svg");
				background-position-x: 1px;
				block-size: 20px;
			}
		}
	}

	&__subheading {
		@include screenreaders-only();
	}

	&__phoneNumber {
		display: block;
	}

	&__openingHours {
		grid-area: openingHours;
		background-color: $colors-tinge;
		padding: 1rlh 2rlh 2rlh;
	}
	&__openingDays {
		font-size: 0.9em;
		line-height: 1.2;

		span {
			font-weight: bold;
		}
	}

	&__invoicing,
	&__accounts {
		@include block-text();
		font-size: 0.85em;
	}

	&__people {
		max-inline-size: 40rem;
		margin: 0 auto 2rlh;

		@media ($typography-breakpoint-small-until) {
			clear: right;
		}
		@media ($typography-breakpoint-large-from) {
			display: flex;
			justify-content: space-between;
			flex-direction: row;
		}
	}

	&__imageWrapper {
		@media ($typography-breakpoint-small-until) {
			float: right;
			max-inline-size: 33vw;
			margin-inline-start: 0.5rlh;

			@media (min-width: 40.001em) {
				max-inline-size: 25vw;
			}
		}
		@media ($typography-breakpoint-large-from) {
			flex-basis: 47%;
		}
	}
	&:nth-child(odd) {
		.contacts__imageWrapper {
			@media ($typography-breakpoint-large-from) {
				order: 1;
			}
		}
	}

	&__image {
		border-radius: 23% / 25%;
		margin-block-end: 0.5rlh;
		max-inline-size: 100%;

		@media ($typography-breakpoint-large-from) {
			margin-block-end: 0;
		}
	}

	&__description {
		@media ($typography-breakpoint-large-from) {
			flex-basis: 47%;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}

	&__about {
		@media ($typography-breakpoint-large-from) {
			max-inline-size: 15em;
		}
	}

	&__mail {
		padding-inline-start: 1rlh;

		&::before {
			display: block;
			content: "";
			inline-size: 23px;
			block-size: 25px;
			background-image: url("../images/icon-letter.svg");
			background-repeat: no-repeat;
			position: absolute;
			margin-inline-start: -1rlh;
			margin-block-start: 0.1em;
		}
	}
}
