.courses {
	&__events {
		margin-block-end: calc(var(--hb-vr-base) * 3);
	}

	&__info {
		text-align: center;
		margin-block: calc(var(--hb-vr-base) * 0.5 * -1) calc(var(--hb-vr-base) * 2);
		font-size: 0.8em;

		@media ($events-breakpoint-oneColumn-until) {
			max-width: 16rem;
			margin-inline: auto;
		}
	}

	&__description {
		margin-block-end: calc(var(--hb-vr-base) * 3);
	}

	&__highSchoolsPrograms {
		background-image: url("../images/highSchoolPrograms.jpg");
		background-position-y: 36%;
		background-repeat: no-repeat;
	}
}
