.courses {
	&__info {
		font-size: 0.8em;

		@media ($events-breakpoint-oneColumn-until) {
			max-width: 16rem;
			margin-inline: auto;
		}
	}

	&__highSchoolsPrograms {
		background-position-y: 36%;
	}
}
