$detail-breakpoint-mediumToLarge: 50em;
$detail-breakpoint-medium-until: "max-width: " + $detail-breakpoint-mediumToLarge;
$detail-breakpoint-large-from: "min-width: " + ($detail-breakpoint-mediumToLarge + 0.001);

.detail {
	@media ($photogallery-breakpoint-full-from) {
		max-width: 25em;
		margin-inline: auto;
	}
	@media ($detail-breakpoint-large-from) {
		max-width: 40em;
	}


	// BASIC INFORMATION

	&__top {
		@media ($detail-breakpoint-large-from) {
			min-height: 18em;
		}
	}


	// cover image and labels

	&__labels-wrapper {
		position: relative;

		@media ($detail-breakpoint-medium-until) {
			border-bottom: 2px solid $colors-emphasizing;
		}
		@media ($detail-breakpoint-large-from) {
			align-self: stretch;
			flex-basis: 40%;
			border-right: 2px solid $colors-emphasizing;
		}
	}

	&__coverImage-wrapper {
		display: contents;
		height: 100%; // in case of browser does not understand `display: contents`
	}
	&__coverImage {
		--detail-coverImage-height: 15em;
		width: 100%;
		object-fit: cover;

		@media ($detail-breakpoint-medium-until) {
			max-height: var(--detail-coverImage-height);
			border-top-left-radius: 2em;
			border-top-right-radius: 2em;
		}
		@media ($detail-breakpoint-large-from) {
			max-height: 18em;
			min-height: 100%;
			border-top-left-radius: 2em;
			border-bottom-left-radius: 2em;
		}

		&--none {
			height: var(--detail-coverImage-height);
			background-color: $colors-tinge;
			background-image: url("../images/logo-hb-brontosaurus.svg");
			background-position: center center;
			background-repeat: no-repeat;

			@media ($detail-breakpoint-large-from) {
				height: 100%;
			}
		}
	}

	&__labels {
		position: absolute;
		bottom: 0;
		right: 0;
	}

	&__basicInformation-wrapper {
		flex-basis: 60%;
	}

	&__basicInformation {
		display: table;
	}
	&__basicInformation-item {
		display: table-row;
	}
	&__basicInformation-label,
	&__basicInformation-value {
		display: table-cell;
		vertical-align: top;
	}

	&__basicInformation-mapLink {
		background-image: url("../images/icon-link-external-alt.svg");
		background-position: right 0.2em;
		background-size: auto 13px;
		background-repeat: no-repeat;
		padding-inline-end: calc(13px + 0.25rlh);
	}


	&__firstTimeAttendeesInformation {
		padding-block-end: calc(1rlh - 0.15rem);

		@media ($detail-breakpoint-medium-until) {
			border-bottom-right-radius: 2em;
			border-bottom-left-radius: 2em;
			background-color: $colors-tinge;
		}
		@media ($detail-breakpoint-large-from) {
			margin-block-end: 0.5rlh;
			padding-block-start: 0.5rlh !important;
		}
	}

	&__data {
		margin-block-end: 0.75rlh;
	}

	&__website {
		background-image: url("../images/icon-link-external-alt.svg");
		background-position: right 0.2em;
		background-size: auto 10px;
		background-repeat: no-repeat;
		padding-inline-end: calc(10px + 0.25rlh);
	}
}
