.english {
	p {
		hyphens: auto;
	}

	&__card {
		max-width: 22em;
		margin-inline-start: -1rlh;

		@media ($header-breakpoint-navigationHiddenToVisible-hidden-until), ($typography-breakpoint-large-from) {
			max-width: 25em;
			margin-inline: auto;
			text-align: center;
		}
	}
}
