.forchildren {
	&-heading {
		text-align: center;
	}

	$map-size-icon: 1.7em;
	&-map-wrapper {
		text-align: center;
		margin-bottom: vr-unit(1);
	}
	&-map {
		background-image: url("../images/icon-map.svg");
		background-position: left 0.1em;
		background-size: $map-size-icon auto;
		background-repeat: no-repeat;
		display: inline-block;
		padding-left: calc(#{$map-size-icon} + 0.5em);
	}

	&-events {
		padding-bottom: vr-unit(3);

		&-filters {
			margin-bottom: vr-unit(1);
		}
	}

	&-description {
		margin-bottom: vr-unit(2);
	}
}
