.future .future { // sass hack to generate higher specificity selector (`.future-X` to `.future .future-X`) - needed to overwrite `.content X` specificity
	&-heading {
		margin-bottom: vr-unit(1);
		text-align: center;
	}

	&-events {
		&-heading {
			margin-bottom: vr-unit(1);
			text-transform: uppercase;
			text-align: center;
		}

		&-list {
			&:not(:last-child) {
				margin-bottom: vr-unit(3);
			}
		}
	}
}
