$highschool-breakpoint-contactPerson-oneToTwoColumns: 30em;
@mixin highschool-breakpoint-contactPerson-oneColumn-until () {
	@media (max-width: $highschool-breakpoint-contactPerson-oneToTwoColumns) {
		@content;
	}
}
@mixin highschool-breakpoint-contactPerson-twoColumns-from () {
	@media (min-width: ($highschool-breakpoint-contactPerson-oneToTwoColumns + 0.001)) {
		@content;
	}
}

.highschool {
	&__block {
		&:not(:last-child) {
			margin-block-end: 1rlh;

			@media ($header-breakpoint-navigationHiddenToVisible-visible-from) {
				margin-block-end: 2rlh;
			}
		}
	}

	&__block-heading {
		text-align: center;
	}

	&__price {
		font-weight: bold;
		padding-block-start: 1rlh;
	}

	&__callToAction {
		max-width: 28rem;
		margin-inline: auto;
		margin-block-end: 1rlh;

		@media ($header-breakpoint-navigationHiddenToVisible-visible-from) {
			text-align: center;
		}
	}

	&__contactPerson {
		max-width: 28rem;
		margin-inline: auto;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;

		@include highschool-breakpoint-contactPerson-twoColumns-from () {
			flex-direction: row;
			align-items: center;
		}
		@media ($header-breakpoint-navigationHiddenToVisible-visible-from) {
			justify-content: center;
		}
	}

	&__contactPersonImage {
		max-width: 7rem;
		border-radius: 23% / 25%;
		margin-inline-end: 1rlh;

		@include highschool-breakpoint-contactPerson-oneColumn-until () {
			order: 1;
		}
	}

	&__contactPersonInformation {
		display: flex;
		flex-direction: column;

		@include highschool-breakpoint-contactPerson-oneColumn-until () {
			margin-block-end: 0.5rlh;
		}
	}

	&__contactPersonName {
		font-weight: bold;
	}
}
