$highschool-breakpoint-contactPerson-oneToTwoColumns: 30em;
@mixin highschool-breakpoint-contactPerson-oneColumn-until () {
	@media (max-width: $highschool-breakpoint-contactPerson-oneToTwoColumns) {
		@content;
	}
}
@mixin highschool-breakpoint-contactPerson-twoColumns-from () {
	@media (min-width: ($highschool-breakpoint-contactPerson-oneToTwoColumns + 0.001)) {
		@content;
	}
}

.highschool {
	&__introduction {
		@include block-text();
		margin-bottom: vr-unit(2);
	}

	&__blocks {
		margin-bottom: vr-unit(2);

		@media ($typography-breakpoint-large-from) {
			max-width: 40rem;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__block {
		&:not(:last-child) {
			margin-bottom: vr-unit(1);

			@media ($header-breakpoint-navigationHiddenToVisible-visible-from) {
				margin-bottom: vr-unit(2);
			}
		}
	}

	&__block-heading {
		text-align: center;
	}

	&__price {
		font-weight: bold;
		padding-top: vr-unit(1);
	}

	&__callToAction {
		max-width: 28rem;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: vr-unit(1);

		@media ($header-breakpoint-navigationHiddenToVisible-visible-from) {
			text-align: center;
		}
	}

	&__contactPerson {
		max-width: 28rem;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;

		@include highschool-breakpoint-contactPerson-twoColumns-from () {
			flex-direction: row;
			align-items: center;
		}
		@media ($header-breakpoint-navigationHiddenToVisible-visible-from) {
			justify-content: center;
		}
	}

	&__contactPersonImage {
		max-width: 7rem;
		border-radius: 23% / 25%;
		margin-right: vr-unit(1);

		@include highschool-breakpoint-contactPerson-oneColumn-until () {
			order: 1;
		}
	}

	&__contactPersonInformation {
		display: flex;
		flex-direction: column;

		@include highschool-breakpoint-contactPerson-oneColumn-until () {
			margin-bottom: vr-unit(0.5);
		}
	}

	&__contactPersonName {
		font-weight: bold;
	}
}
