$default-breakpoint-oneColumnToTwoColumns: 45em;
$default-breakpoint-oneColumn-until: "max-width: " + $default-breakpoint-oneColumnToTwoColumns;

.homepage {
	&-heading {
		text-align: center;
		margin-block-end: #{vr-unit(0.5)} !important;
	}

	&-subheading {
		@include block-subheading();
	}

	&-text {
		@include block-text();
		margin-bottom: vr-unit(1);
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	&__featured {
		margin-block-end: calc(var(--hb-vr-base) * 1);
	}

	&__links {
		display: flex;
		flex-direction: row;
		justify-content: center;
		justify-items: center;
		align-items: center;
		gap: calc(var(--hb-vr-base) * 1);
		margin-block-end: calc(var(--hb-vr-base) * 2);

		.action--link-secondary-sm {
			display: inline-block;
			font-size: 0.8em;
			text-decoration: underline;
		}
	}

	&-related {
		margin-bottom: vr-unit(2);

		.related {
			&-heading {
				margin-bottom: vr-unit(0.5);
				text-align: center;
			}

			&-subheading {
				@include block-subheading();
			}
		}
	}

	&-references {
		&-heading {
			margin-bottom: vr-unit(0.5) !important; // overwrite `.content h1`
		}

		&-carousel {
			margin-bottom: vr-unit(1);
		}
	}
}
