$default-breakpoint-oneColumnToTwoColumns: 45em;
$default-breakpoint-oneColumn-until: "max-width: " + $default-breakpoint-oneColumnToTwoColumns;

.homepage {
	&__subheading {
		@include block-subheading();
	}

	.action--link-secondary-sm {
		display: inline-block;
		font-size: 0.8em;
		text-decoration: underline;
	}

	.related {
		&-heading {
			margin-block-end: 0.5rlh;
			text-align: center;
		}

		&-subheading {
			@include block-subheading();
		}
	}
}
