.prilezitost {
	h1 {
		margin-block-end: 0;
		line-height: 1.1;
	}

	&__labels {
		vertical-align: middle;
		margin-inline-start: -0.25rlh;
		justify-content: center;

		@media ($typography-breakpoint-small-until) {
			display: inline-flex;
		}
	}
	&__label {
		background-color: var(--hb-colors-links);
		font-size: 0.5em;
		font-weight: initial;

		@media ($typography-breakpoint-large-from) {
			font-size: 0.4em;
		}
	}

	&__top {
		margin-block-start: 1rlh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-color: var(--hb-colors-tinge);
		border-radius: 2em;
		overflow: hidden;

		@media ($header-breakpoint-navigationHiddenToVisible-hidden-until) {
			max-width: 20rem;
		}
		@media ($header-breakpoint-navigationHiddenToVisible-visible-from) {
			flex-direction: row;
			gap: 1rlh;
			align-items: center;
		}
		@media ($typography-breakpoint-small-until) {
			max-width: 30rem;
		}
		@media ($typography-breakpoint-large-from) {
			margin-block-start: 2rlh;
			max-width: 35rem;
			min-height: 15rem;
			margin-inline: auto;
		}
	}

	&__image {
		@media ($header-breakpoint-navigationHiddenToVisible-hidden-until) {
			border-bottom: 2px solid var(--hb-colors-emphasizing);
		}
		@media ($header-breakpoint-navigationHiddenToVisible-visible-from) {
			flex-basis: 50%;
			align-self: stretch;
			border-left: 2px solid var(--hb-colors-emphasizing);
		}

		img {
			min-height: 100%;
			max-height: 15rem;
			width: 100%;
			object-fit: cover;
		}
	}

	dl {
		margin: 0;
	}
	dd {
		margin-inline-start: 0;
	}

	&__basic {
		padding: 1rlh;

		@media ($header-breakpoint-navigationHiddenToVisible-visible-from) {
			order: -1;
		}
		@media ($header-breakpoint-navigationHiddenToVisible-hidden-until) {
			max-width: max-content;
		}
		@media ($header-breakpoint-navigationHiddenToVisible-hidden-until), ($typography-breakpoint-large-from) {
			display: grid;
			grid-template-columns: auto auto;
			gap: 0.5rlh 1rlh;
		}

		dt {
			font-weight: bold;

			@media ($header-breakpoint-navigationHiddenToVisible-visible-from) and ($typography-breakpoint-small-until) {
				&:not(:first-child) {
					margin-block-start: 0.5rlh;
				}
			}
			@media ($header-breakpoint-navigationHiddenToVisible-hidden-until), ($typography-breakpoint-large-from) {
				text-align: right;
			}
		}
	}

	section {
		margin-block-start: 2rlh;

		@media ($detail-breakpoint-large-from) {
			max-width: 60ch;
		}
		@media ($typography-breakpoint-large-from) {
			max-width: 55ch;
			margin-inline: auto;
		}
	}

	p:not(:last-child) {
		margin-block-end: 0.5rlh;
	}

	address {
		font-style: normal;
	}

	&__contact {
		background-color: var(--hb-colors-tinge);
		padding: 1rlh;
		margin-inline: -1rlh !important; // overwrite more generic rule from above

		@media ($header-breakpoint-navigationHiddenToVisible-visible-from) {
			border-radius: 2rem;

			@media ($typography-breakpoint-small-until) {
				max-width: 30rem;
			}
		}
		@media ($typography-breakpoint-large-from) {
			flex-direction: column;
			text-align: center;
			padding-block: 2rlh;
		}

		dt {
			position: absolute;
			display: block;
			width: 0;
			height: 0;
			opacity: 0;
			pointer-events: none;
		}

		dd {
			&:not(:last-child) {
				margin-block-end: 0.25rlh;
			}
		}
	}
	&__email,
	&__phone {
		display: inline-flex;
		align-items: center;
		gap: 0.25rlh;

		&::before {
			content: "";
			display: block;
			--prilezitost-contact-icon-size: 0.85rem;
			height: var(--prilezitost-contact-icon-size);
			background-color: var(--hb-colors-emphasizing);
			mask-size: auto 100%;
			mask-position: center center;
			mask-repeat: no-repeat;
		}
	}
	&__email::before {
		width: calc(var(--prilezitost-contact-icon-size) * 1);
		mask-image: url("../images/icon-letter.svg");
	}
	&__phone::before {
		width: calc(var(--prilezitost-contact-icon-size) * 0.9);
		mask-image: url("../images/icon-phone.svg");
	}
}
