.rentals {
	// place

	&__place {
		&:not(:last-child) {
			margin-block-end: 2rlh;

			@media ($typography-breakpoint-large-from) {
				margin-block-end: 3rlh;
			}
		}
	}

	&__subsection {
		@include block-text();

		&:not(:last-child) {
			margin-block-end: 1rlh;
		}
	}
	&__subsection-heading:not(.increaseSelectorSpecificity) { // hack to increase selector specificity
		margin-block-end: 0.5rlh;
		font-weight: bold;
		font-size: 1em;
	}

	&__mapLink {
		display: block;
		max-width: max-content;
		margin-block-end: 0.5rlh;
		font-size: 0.8em;

		@media ($typography-breakpoint-large-from) {
			margin-inline: auto;
		}

		&::before {
			content: "";
			position: absolute;
			display: block;
			width: 14px;
			height: 14px;
			margin-block-start: 0.1em;
			margin-inline-start: -1em;
			background-color: $colors-emphasizing;
			mask-image: url("../images/icon-place.svg");
			mask-position: left center;
			mask-repeat: no-repeat;
			mask-size: auto 100%;
		}
	}

	&__table {
		margin-block-end: 0.5rlh;
	}

	&__table-label,
	&__table-price {
		border: 1px solid $colors-tinge;
		padding: 0.5rlh 0.5rlh calc(0.5rlh - 0.35em);
	}

	&__table-price {
		background-color: $colors-tinge;
	}

	&__accomodation {
		padding-inline-start: 0.8em;
	}

	&__photogallery {
		justify-content: flex-start; // fallback
		justify-content: start;
	}

	&__contact {
		font-style: normal;
	}
}
