.supportOverview {
	&__headingAmendment {
		display: block;
		font-size: 1.2rem;

		@media (min-width: 40.001em) {
			margin-block-start: -0.5rlh;
			font-size: 1.5rem;
		}
	}

	&__thanks {
		max-inline-size: 62em;
		margin-inline: auto;

		ul {
			list-style-type: none;
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
			justify-content: center;
			gap: 2rlh 1rlh;

			@media ($typography-breakpoint-large-from) {
				justify-items: center;
				grid-template-columns: repeat(2, 1fr);
				column-gap: 2rlh;
				margin-inline: auto;
				width: max-content;
			}
			@media (min-width: 85.001em) {
				grid-template-columns: repeat(4, 1fr);
				column-gap: 1rlh;
			}

			li {
				--supportOverview-icon-size: 2rlh;
				background-position: left top;
				background-size: var(--supportOverview-icon-size) auto;
				background-repeat: no-repeat;
				max-inline-size: 15rlh;
				padding-top: calc(var(--supportOverview-icon-size) + 0.5rlh);

				@media ($typography-breakpoint-large-from) {
					--supportOverview-icon-size: 4rlh;
					padding-top: calc(var(--supportOverview-icon-size) + 1rlh);
					max-inline-size: 9rlh;
					text-align: center;
					background-position-x: center;
				}

				&.icon-tree {
					background-image: url("../images/icon-tree.svg");
				}
				&.icon-people {
					background-image: url("../images/icon-people.svg");
				}
				&.icon-earth {
					background-image: url("../images/icon-earth.svg");
				}
				&.icon-hand {
					background-image: url("../images/icon-hand.svg");
				}
			}
		}
	}

	.hb-option {
		justify-content: flex-start;
	}
	.hb-option__image {
		border-radius: unset;
	}
	.hb-option--imageFirst .hb-option__image {
		order: -1;
	}
	.hb-option__button {
		position: relative;
		height: 2rem;
	}
}
