.supportOverview {
	&__paragraph {
		@include block-text();
		margin-bottom: vr-unit(1);
	}

	&__widget {
		max-inline-size: calc(18rem + #{vr-unit(4)});
		position: relative;

		&,
		&Root {
			margin-inline: auto;
		}

		&Root {
			/*
			 * used style in darujme.cz widget:

				.widget {
				  background-color: revert;
				}
				.widget-head {
				  background-color: revert;
				  border-bottom: revert;
				  padding: revert;
				}
				.widget-title {
				  font-size: 16px;
				  text-align: left;
				}
				.widget-body {
				  padding: revert;
				}
				.widget-periodic-button, .widget-entries-button {
				  background-color: #fff;
				}
			 */
		}
	}
	&__darujmeLogo {
		--supportOverview-darujme-logoSize-butterfly: 1.3rem;
		--supportOverview-darujme-logoSize-label: 4rem;
		display: flex;
		align-items: center;
		position: absolute;
		top: vr-unit(0.5);
		right: vr-unit(2);
		gap: vr-unit(0.25);
		width: calc(var(--supportOverview-darujme-logoSize-butterfly) + #{vr-unit(0.25)} + var(--supportOverview-darujme-logoSize-label));

		.darujme-butterfly {
			max-inline-size: var(--supportOverview-darujme-logoSize-butterfly);
		}
		.darujme-label {
			max-inline-size: var(--supportOverview-darujme-logoSize-label);
		}
	}

	&__thanks {
		max-inline-size: 62em;
		margin-inline: auto;

		ul {
			list-style-type: none;
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
			justify-content: center;
			gap: vr-unit(2) vr-unit(1);
			margin-block-end: vr-unit(2);

			@media ($typography-breakpoint-large-from) {
				justify-items: center;
				grid-template-columns: repeat(2, 1fr);
				column-gap: vr-unit(2);
				margin-inline: auto;
				width: max-content;
			}
			@media (min-width: 85.001em) {
				grid-template-columns: repeat(4, 1fr);
				column-gap: vr-unit(1);
			}

			li {
				--supportOverview-icon-size: #{vr-unit(2)};
				background-position: left top;
				background-size: var(--supportOverview-icon-size) auto;
				background-repeat: no-repeat;
				max-inline-size: vr-unit(15);

				@media ($typography-breakpoint-small-until) {
					padding-left: calc(var(--supportOverview-icon-size) + #{vr-unit(1)});
				}
				@media ($typography-breakpoint-large-from) {
					--supportOverview-icon-size: #{vr-unit(4)};
					padding-top: calc(var(--supportOverview-icon-size) + #{vr-unit(1)});
					max-inline-size: vr-unit(9);
					text-align: center;
					background-position-x: center;
				}

				&.icon-tree {
					background-image: url("../images/icon-tree.svg");
				}
				&.icon-people {
					background-image: url("../images/icon-people.svg");
				}
				&.icon-earth {
					background-image: url("../images/icon-earth.svg");
				}
				&.icon-hand {
					background-image: url("../images/icon-hand.svg");
				}
			}
		}
	}

	&__adoptionLink {
		display: block;
		max-width: max-content;
		margin-inline: auto;
	}

	&__video {
		max-inline-size: 40rem;
		margin-inline: auto;
		margin-block-end: vr-unit(3);

		@media ($typography-breakpoint-large-from) {
			margin-block-end: vr-unit(4);
		}

		iframe {
			display: block;
			inline-size: 100%;
			aspect-ratio: 16/9;
			border-radius: 2em;
			margin-block-end: vr-unit(1);
		}
	}

	&__successesLink {
		margin-block-end: vr-unit(2);
	}
}
