.voluntary {
	&-heading {
		text-align: center;
	}

	&-events {
		padding-bottom: vr-unit(3);

		&-filters {
			margin-bottom: vr-unit(1);
		}
	}

	&-description {
		margin-bottom: vr-unit(2);

		&-firstTimeLink {
			justify-self: center;
		}
	}
}
