.zapoj-se {
	padding-block-end: 3rlh;

	&__filters {
		margin-block-end: 1rlh;
	}

	&__opportunities {
		margin-block-end: 4rlh;
	}

	&__map {
		margin-block-start: 3rlh;
		max-width: 40rem;
		margin-inline: auto;
		margin-block-end: 2rlh;

		h2 {
			margin-block-end: 1rlh;
		}
	}
}
