<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- wp:head /-->
</head>
<body class="wp-site-blocks">
    <!-- wp:body-open /-->
    <!-- wp:template-part {"slug":"header","theme":"brontosaurus-fse"} /-->
    <!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
        <div class="wp-block-group">
            <!-- wp:post-content /-->
        </div>
    <!-- /wp:group -->
    <!-- wp:template-part {"slug":"footer","theme":"brontosaurus-fse"} /-->
    <!-- wp:footer-scripts /-->
</body>
</html>
