{layout $layoutPath}

{block content}

{* docs: https://developers.google.com/custom-search/docs/element *}
<main class="searchResults" role="main">
	<div class="searchResults__form-wrapper">
		<div class="searchResults__form searchForm__gcseRoot">
			<div class="gcse-searchbox"></div>
		</div>
	</div>

	<div class="searchResults__results">
		<div
			class="gcse-searchresults"
			data-enableOrderBy="false"
			data-linkTarget="_self"
		></div>
	</div>
</main>

