$colors-default-background: #ffffff;
$colors-emphasizing: #00a651;
$colors-framing: #b3b3b3;
$colors-text: #000000;
$colors-tinge: #f0f3f2;
$colors-links: #e6e6e6;
$colors-error: #a60000;

$fonts-delm: "Delm";
$fonts-delm-weight-regular: 300;
$fonts-delm-weight-bold: 700;

$typography-baseFontSize-small: 130%;
$typography-baseFontSize-large: 140%;
$typography-baseLineHeight: 1.3;

$typography-breakpoint: 60em;
$typography-breakpoint-small-until: "max-width: " + $typography-breakpoint;
$typography-breakpoint-large-from: "min-width: " + ($typography-breakpoint + 0.001);

$content-maxWidth: 47.5rem;
