@mixin heading-first-level () {
	font-size: 1.7em;
	font-weight: 700;
	margin-block-end: 0.5rlh;

	@media ($typography-breakpoint-small-until) {
		line-height: 1;
	}
	@media ($typography-breakpoint-large-from) {
		font-size: 2.5em;
		text-align: center;
		margin-block-end: 1rlh;
	}
}

@mixin block-text () {
	max-inline-size: 28rem; // rem unit so that max-width of element of any font-size has the same size

	@media ($typography-breakpoint-large-from) {
		margin-inline: auto;
	}
}

@mixin block-subheading () {
	display: flex;
	align-items: center;
	color: var(--hb-colors-emphasizing);
	max-inline-size: 12rem;
	margin-inline: auto;
	margin-block-end: 1rlh;

	&::before,
	&::after {
		content:"";
		display: block;
		margin-block-start: -3px;
		inline-size: 3rem;
		block-size: 1px;
		background-color: var(--hb-colors-emphasizing);
	}
	&::before {
		margin-inline-end: 0.5rlh;
	}
	&::after {
		margin-inline-start: 0.5rlh;
	}
}

@mixin hb-content() {
	ol,
	p,
	ul {
		@include block-text();
	}

	* + p,
	* + figure,
	* + .wp-block-columns {
		margin-block-start: 1rlh;
	}

	.wp-block-columns {
		display: grid;
		grid-gap: 1rlh;
		grid-template-columns: 1fr;
		justify-content: center;
		max-width: 28rem;

		@media ($description-breakpoint-twoColumns-from) and ($typography-breakpoint-small-until) {
			margin-inline: -1rlh;
			max-width: calc(28rem + 2rlh);
		}
		@media ($typography-breakpoint-large-from) {
			grid-template-columns: 1fr 1fr;
			margin-inline: auto;
			max-width: 40rem;
		}

		.wp-block-column {
			grid-column-start: span 2;
			margin-inline-start: revert;

			@media ($typography-breakpoint-large-from) {
				grid-column-start: span 1;
			}
		}
	}

	// see editor.js for image styles
	.wp-block-image {
		&:not(.is-style-sharp) {
			img {
				border-radius: 2em;
			}
		}
	}
}
