@mixin heading-first-level () {
	font-size: 1.7em;
	font-weight: $fonts-delm-weight-bold;
	margin-block-end: 0.5rlh;

	@media ($typography-breakpoint-small-until) {
		line-height: 1;
	}
	@media ($typography-breakpoint-large-from) {
		font-size: 2.5em;
		text-align: center;
		margin-block-end: 1rlh;
	}
}

@mixin block-text () {
	max-inline-size: 28rem; // rem unit so that max-width of element of any font-size has the same size

	@media ($typography-breakpoint-large-from) {
		margin-inline: auto;
	}
}

@mixin block-subheading () {
	display: flex;
	align-items: center;
	color: var(--hb-colors-emphasizing);
	max-inline-size: 12rem;
	margin-inline: auto;
	margin-block-end: 1rlh;

	&::before,
	&::after {
		content:"";
		display: block;
		margin-top: -3px;
		inline-size: 3rem;
		block-size: 1px;
		background-color: var(--hb-colors-emphasizing);
	}
	&::before {
		margin-inline-end: 0.5rlh;
	}
	&::after {
		margin-inline-start: 0.5rlh;
	}
}
