:root {
	color: var(--hb-colors-text);
	font-family: "Delm", sans-serif;
	font-size: 130%;
	font-weight: 300;
	line-height: 1.3;

	@media ($typography-breakpoint-large-from) {
		font-size: 140%;
	}
}

html {
	cursor: initial; // overwrite sanitize.css `cursor: default` setting
}


// FORMS

input,
button {
	font-family: inherit;
	font-size: inherit;
}


// MARGINS & PADDINGS RESET

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
}


// MISCELLANEOUS

img,
svg {
	max-width: 100%;
}

a {
	color: var(--hb-colors-text);

	@media (prefers-reduced-motion: no-preference) {
		transition: color 200ms ease;
	}

	&:hover {
		color: var(--hb-colors-emphasizing);
	}
}

b,
strong {
	font-weight: bold;
}
