.pagination .nav-links {
	display: flex;
	justify-content: center;
	gap: 0.25rlh;
}

.wp-block-buttons {
	display: flex;
	justify-content: center;
	margin-block: 1rlh;
}

.is-content-justification-center {
    justify-items: center;
}