.content {
	padding: vr-unit(2) vr-unit(1);
	color: transparentize($colors-text, 0.2);

	a {
		color: transparentize($colors-text, 0.2);

		&:hover {
			color: $colors-emphasizing; // same as in defaults
		}
	}

	@media ($header-breakpoint-navigationHiddenToVisible-visible-from) {
		padding-left: vr-unit(2);
		padding-right: vr-unit(2);
	}
	@media ($typography-breakpoint-large-from) {
		padding-bottom: vr-unit(2);
		padding-top: vr-unit(2);
	}

	h1 {
		@include heading-first-level();
	}

	h2 {
		font-size: 1.25em;
		font-weight: $fonts-delm-weight-bold;
		margin-bottom: vr-unit(0.5);

		@media ($typography-breakpoint-large-from) {
			font-size: 1.5em;
			text-align: center;
		}
	}

	h3 {
		font-size: 1.1em;
		font-weight: $fonts-delm-weight-regular; // @todo or bold?
		margin-bottom: vr-unit(0.5);
	}

	&__dynamic {
		@include hb-content();
	}
}
