.content {
	padding: vr-unit(2) vr-unit(1);
	color: transparentize($colors-text, 0.2);

	a {
		color: transparentize($colors-text, 0.2);

		&:hover {
			color: $colors-emphasizing; // same as in defaults
		}
	}

	@media ($header-breakpoint-navigationHiddenToVisible-visible-from) {
		padding-left: vr-unit(2);
		padding-right: vr-unit(2);
	}
	@media ($typography-breakpoint-large-from) {
		padding-bottom: vr-unit(2);
		padding-top: vr-unit(2);
	}

	h1 {
		@include heading-first-level();
	}

	h2 {
		font-size: 1.25em;
		font-weight: $fonts-delm-weight-bold;
		margin-bottom: vr-unit(0.5);

		@media ($typography-breakpoint-large-from) {
			font-size: 1.5em;
			text-align: center;
		}
	}

	h3 {
		font-size: 1.1em;
		font-weight: $fonts-delm-weight-regular; // @todo or bold?
		margin-bottom: vr-unit(0.5);
	}

	&__dynamic {
		ol,
		p,
		ul {
			@include block-text();
		}

		p + p {
			margin-block-start: vr-unit(1);
		}

		p + .wp-block-columns {
			margin-block-start: vr-unit(1);
		}

		.wp-block-columns {
			display: grid;
			grid-gap: vr-unit(1);
			grid-template-columns: 1fr;
			justify-content: center;
			max-width: 28rem;

			@media (min-width: 40.001em) and ($typography-breakpoint-small-until) {
				margin-left: -#{vr-unit(1)};
				margin-right: -#{vr-unit(1)};
				max-width: calc(28rem + #{vr-unit(2)});
			}
			@media ($typography-breakpoint-large-from) {
				grid-template-columns: 1fr 1fr;
				margin-left: auto;
				margin-right: auto;
				max-width: 40rem;
			}

			.wp-block-column {
				grid-column-start: span 2;
				margin-left: revert;

				@media ($typography-breakpoint-large-from) {
					grid-column-start: span 1;
				}
			}
		}

		.wp-block-image {
			img {
				border-radius: 2em;
			}
		}
	}
}
