.coverPhoto {
	min-height: var(--coverPhoto-height);
	max-width: 75em;
	margin-left: auto;
	margin-right: auto;

	--coverPhoto-height: 10em;

	@media ($header-breakpoint-navigationHiddenToVisible-visible-from) {
		--coverPhoto-height: 15em;
	}
	@media (min-width: 75.001em) {
		border-radius: 2em;
		margin-left: vr-unit(1);
		margin-right: vr-unit(1);
	}
	@media (min-width: 115.001em) {
		margin-left: auto;
		margin-right: auto;
	}


	// hide completely on some pages

	&--detail,
	&--future,
	&--newversionannouncement,
	&--news,
	&--preview,
	&--rentals,
	&--searchresults,
	&--baseunits,
	&--zapoj-se,
	&--error404 {
		display: none;
	}


	// first list these cover photos with no text over

	&--aboutcrossroad,
	&--abouthighlights,
	&--aboutsuccesses {
		background-image: url("../images/hlavicka-o-brontosauru.jpg");
		background-position: 54% -17em;
		background-size: 42em;

		@media ($header-breakpoint-navigationHiddenToVisible-visible-from) {
			background-position-y: -20em;
			background-size: 55em;
		}
		@media ($typography-breakpoint-large-from) {
			background-position: center -32em;
			background-size: 75em;
		}
	}

	&--english {
		background-image: url("../images/hlavicka-anglicka.jpg");
		background-position: 25% -5em;
		background-size: 35em;

		@media ($header-breakpoint-navigationHiddenToVisible-visible-from) {
			background-position-y: -8em;
			background-size: 55em;
		}
		@media ($typography-breakpoint-large-from) {
			background-position-y: -14em;
			background-size: 75em;
		}
	}

	&--contacts {
		background-image: url("../images/hlavicka-kontakty.jpg");
		background-position: left top;
		background-size: 41em;

		@media ($header-breakpoint-navigationHiddenToVisible-visible-from) {
			background-size: 62em;
		}
		@media ($typography-breakpoint-large-from) {
			background-size: 76em;
			background-position-y: -3em;
		}
	}

	&--highschool {
		background-image: url("../images/hlavicka-stredni-skoly.jpg");
		background-position: center -3em;
		background-size: 50em;

		@media ($header-breakpoint-navigationHiddenToVisible-visible-from) {
			background-position-y: -1em;
		}
		@media ($typography-breakpoint-large-from) {
			background-position-y: -5em;
			background-size: 75em;
		}
	}

	&--partners {
		background-image: url("../images/hlavicka-nasi-partneri.jpg");
		background-position: left -4.2em;
		background-size: 30em;

		@media ($header-breakpoint-navigationHiddenToVisible-visible-from) {
			background-position-y: -7.2em;
			background-size: 47em;
		}
		@media ($typography-breakpoint-large-from) {
			background-position-y: -17em;
			background-size: 75em;
		}
	}

	&--aboutstructure {
		background-image: url("../images/hlavicka-struktura-organizace.jpg");
		background-position: right -2em;
		background-size: 30em;

		@media ($header-breakpoint-navigationHiddenToVisible-visible-from) {
			background-position-y: -4em;
			background-size: 47em;
		}
		@media ($typography-breakpoint-large-from) {
			background-position-y: -12em;
			background-size: 75em;
		}
	}


	// then these which have text over

	&--voluntary,
	&--courses,
	&--meetups,
	&--forchildren,
	&--firsttime,
	&--home,
	&--supportoverview,
	&--supportadoption {
		position: relative;

		&::before {
			content: "";
			top: 0;
			height: 100%;
			position: absolute;
			background-color: $colors-emphasizing;
			width: 10em;
		}
		&::after {
			display: block;
			top: vr-unit(1);
			position: absolute;
			color: #fff;
			font-size: 1.4em;
			font-weight: bold;

			@media ($header-breakpoint-navigationHiddenToVisible-visible-from) {
				top: vr-unit(3);
				font-size: 1.7em;
			}
		}
	}

	// left-sided bubbles

	&--courses {
		background-image: url("../images/hlavicka-kurzy-a-prednasky.jpg");
		background-size: 55em;
		background-position: center calc(100% + 11em);

		@media ($typography-breakpoint-large-from) {
			background-size: 87em;
			background-position-y: -23em;
		}

		&::before {
			clip-path: circle(66% at 30% 24%);
			left: 0;

			@media ($header-breakpoint-navigationHiddenToVisible-visible-from) {
				clip-path: circle(41% at 25% 27%);
				width: 30em;
			}
			@media (min-width: 75.001em) {
				border-radius: 2em 0 0 2em;
			}
		}
		&::after {
			content: "Dobrý pocit z\00a0nových informací";
			max-width: 6em;
			left: vr-unit(1);

			@media ($header-breakpoint-navigationHiddenToVisible-visible-from) {
				max-width: 7em;
				left: vr-unit(2);
			}
		}
	}

	&--meetups {
		background-image: url("../images/hlavicka-setkavani-a-kluby.jpg");
		background-size: 40em;
		background-position: center -10em;

		@media ($header-breakpoint-navigationHiddenToVisible-visible-from) {
			background-size: 54em;
			background-position: center -11em;
		}
		@media ($typography-breakpoint-large-from) {
			background-size: 75em;
			background-position: center -20em;
		}

		&::before {
			left: 0;
			width: 13em;
			clip-path: circle(66% at 30% 14%);

			@media ($header-breakpoint-navigationHiddenToVisible-visible-from) {
				clip-path: circle(41% at 25% 27%);
				width: 28em;
			}
			@media (min-width: 75.001em) {
				border-radius: 2em 0 0 2em;
			}
		}
		&::after {
			content: "Dobrý pocit sdílený s\00a0přáteli";
			left: vr-unit(1);
			max-width: 6em;

			@media ($header-breakpoint-navigationHiddenToVisible-visible-from) {
				left: vr-unit(2);
			}
		}
	}

	&--forchildren {
		background-image: url("../images/hlavicka-proDeti.jpg");
		background-position: 75% -1em;
		background-size: 35em;

		@media ($header-breakpoint-navigationHiddenToVisible-visible-from) {
			background-position: 80% -2em;
			background-size: 54em;
		}
		@media ($typography-breakpoint-large-from) {
			background-position: right -4em;
			background-size: 75em;
		}

		&::before {
			left: 0;
			clip-path: circle(54% at 28% 23%);

			@media ($header-breakpoint-navigationHiddenToVisible-visible-from) {
				width: 20em;
			}
			@media (min-width: 75.001em) {
				border-radius: 2em 0 0 2em;
			}
		}
		&::after {
			content: "Dobrý pocit pro\00a0 děti";
			max-width: 6em;
			left: vr-unit(1);

			@media ($header-breakpoint-navigationHiddenToVisible-visible-from) {
				left: vr-unit(2);
			}
		}
	}


	// right-sided bubbles

	&--home,
	&--voluntary,
	&--firsttime,
	&--supportoverview,
	&--supportadoption {
		&::before {
			clip-path: circle(66% at 66% 24%);
			right: 0;

			@media ($header-breakpoint-navigationHiddenToVisible-visible-from) {
				clip-path: circle(51% at 76% 28%);
				width: 20em;
			}
			@media (min-width: 75.001em) {
				border-radius: 0 2em 2em 0;
			}
		}
	}

	&--home,
	&--voluntary,
	&--firsttime {
		&::after {
			right: vr-unit(1);
			text-align: right;
			max-width: 6em;
			font-size: 1.2em;

			@media ($header-breakpoint-navigationHiddenToVisible-visible-from) {
				top: vr-unit(2);
				right: vr-unit(2);
				max-width: 6em;
				font-size: 1.5em;
			}
		}
	}

	&--home {
		background-image: url("../images/hlavicka-uvodni.jpg");
		background-position: -6.5em -3em;
		background-size: 45em;

		@media ($header-breakpoint-navigationHiddenToVisible-visible-from) {
			background-size: 70em;
			background-position-y: -5em;
		}
		@media (min-width: 82.001em) {
			background-size: 97em;
			background-position: -6em -11em;
		}

		&::after {
			//content: "Dobrý\00a0pocit\00a0najdeš\00a0tam,\00a0\00a0\00a0\0015kde\00a0se\00a0 děje\00a0něco\00a0 dobrého…"; // @todo: unhack \0015
			content: "Dobrý pocit najdeš tam, kde se děje něco dobrého…"; // @todo: unhack \0015
		}
	}

	&--voluntary,
	&--firsttime {
		background-image: url("../images/hlavicka-dobrovolnickeAkce.jpg"); // @todo: cover photo will be changed
		background-position: calc(100% + 2px) -3.7em; // +2px because of the image white border
		background-size: 42em;

		@media ($header-breakpoint-navigationHiddenToVisible-visible-from) {
			background-size: 60em;
			background-position-y: -5.5em;
		}
		@media (min-width: 70.001em) {
			background-size: 76em;
			background-position-y: -10em;
			//background-position-y: calc(1vw - 17em); // @todo: is there a way to use background-size: cover and force position-y to display nicely?
		}

		&::after {
			content: "Dobrý pocit kořeněný dobrodružstvím";
		}
	}

	&--supportoverview,
	&--supportadoption {
		background-image: url("../images/hlavicka-moznost-podpory.jpg");
		background-position: 35% -11em;
		background-size: 35em;

		@media ($header-breakpoint-navigationHiddenToVisible-visible-from) {
			background-position: center -19em;
			background-size: 55em;
		}
		@media (min-width: 68.001em) {
			background-position: center -29em;
			background-size: 75em;
		}

		&::after {
			content: "Dobrý pocit z\00a0maličkostí";
			right: vr-unit(1);
			top: vr-unit(2);
			max-width: 6em;
			text-align: right;

			@media ($header-breakpoint-navigationHiddenToVisible-visible-from) {
				top: vr-unit(3);
				right: vr-unit(2);
			}
		}
	}
}
