$description-breakpoint-oneColumnToTwoColumns: 40em;
$description-breakpoint-oneColumn-until: "max-width: " + $description-breakpoint-oneColumnToTwoColumns;
$description-breakpoint-twoColumns-from: "min-width: " + ($description-breakpoint-oneColumnToTwoColumns + 0.001);

.description {
	&-text {
		@include block-text();
		margin-bottom: vr-unit(0.5);
		text-align: left;

		@media ($description-breakpoint-twoColumns-from) {
			margin-bottom: vr-unit(1);
		}
		@media ($typography-breakpoint-large-from) {
			margin-left: auto;
			margin-right: auto;
		}
	}

	&-list {
		display: grid;
		grid-gap: vr-unit(1);
		grid-template-columns: 1fr;
		justify-content: center;
		max-width: 28rem;

		@media ($description-breakpoint-twoColumns-from) and ($typography-breakpoint-small-until) {
			margin-left: -#{vr-unit(1)};
			margin-right: -#{vr-unit(1)};
			max-width: calc(28rem + #{vr-unit(2)});
		}
		@media ($typography-breakpoint-large-from) {
			grid-template-columns: 1fr 1fr;
			margin-left: auto;
			margin-right: auto;
			max-width: 40rem;
		}

		&-item {
			grid-column-start: span 2;

			@media ($typography-breakpoint-large-from) {
				grid-column-start: span 1;
			}

			&--fullWidth {
				grid-column-start: span 2;
			}
			&--fullWidth &-text {
				@media ($typography-breakpoint-large-from) {
					max-width: 28rem; // rem unit as we want to keep with context
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
	}
}
