.eventTagList {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: vr-unit(0.25);
	font-size: 0.9em;

	&__item {
		padding: vr-unit(0.25) vr-unit(0.5) calc(#{vr-unit(0.25)} - 0.15em);
		background-color: transparentize($colors-default-background, 0.1);
		background-repeat: no-repeat;
		border-radius: 2em;

		&--type {
			padding-left: calc(#{vr-unit(0.5)} + 1.25em);
			background-position: vr-unit(0.5) center;
			background-size: auto 1em;
		}
		&--nature {
			background-image: url("../images/icon-nature.svg");
		}
		&--sights {
			background-image: url("../images/icon-castle.svg");
			background-position-x: calc(#{vr-unit(0.5)} + 0.1em);
		}
	}
}
