$footer-breakpoint-smallToMedium: 28em;
$footer-breakpoint-smallToMedium-until: "max-width: " + $footer-breakpoint-smallToMedium;
$footer-breakpoint-smallToMedium-from: "min-width: " + ($footer-breakpoint-smallToMedium + 0.001);

$footer-breakpoint-mediumToLarge: 50em;
$footer-breakpoint-mediumToLarge-until: "max-width: " + $footer-breakpoint-mediumToLarge;
$footer-breakpoint-mediumToLarge-from: "min-width: " + ($footer-breakpoint-mediumToLarge + 0.001);


.footer-wrapper {
	background-color: $colors-tinge;
	position: relative;
}
.footer {
	display: grid;
	grid-template-areas:
		"navigation"
		"logo-full"
		"search";
	justify-items: center;
	margin-left: auto;
	margin-right: auto;
	max-width: $navigation-maxWidth;
	padding-top: vr-unit(2);
	padding-bottom: vr-unit(2);

	@media ($footer-breakpoint-smallToMedium-until) {
		grid-column-gap: vr-unit(0.5);
	}
	@media ($footer-breakpoint-mediumToLarge-from) {
		grid-template-areas:
			"navigation ."
			"navigation logo-full"
			". search";
		grid-template-columns: auto max-content;
		grid-template-rows: auto auto auto;
		padding-left: vr-unit(1);
		padding-right: vr-unit(1);
	}

	&-navigation {
		display: contents;

		&-main {
			grid-area: navigation;

			@media ($footer-breakpoint-smallToMedium-from) {
				columns: 2;
				column-rule: 2px solid $colors-framing;
				column-gap: vr-unit(2);
				text-align: left;
				margin-bottom: vr-unit(1);
			}

			&-item {
				@media ($footer-breakpoint-smallToMedium-until) {
					text-align: center;
				}

				&-link {
					display: inline-block;
					padding: 0.3em vr-unit(0.5) 0.15em;
					border-radius: 2em;
					color: $colors-text;
					text-decoration: none;
					transition:
						background-color 200ms linear,
						color 200ms linear;
		
					&:hover {
						color: $colors-emphasizing;
					}
		
					&--active {
						background-color: $colors-emphasizing;
						color: $colors-default-background !important; // overwrite default hover behaviour
		
						&:hover {
							background-color: darken($colors-emphasizing, 10);
						}
					}		
				}
			}
		}
	}

	&-logoLink {
		grid-area: logo-full;
		align-self: self-end;
		display: block;
		width: 10rem;
		height: 3rem;
		background-size: 10rem;
		background-image: url("../images/logo-hb-full.svg");
		background-repeat: no-repeat;
	}


	&-searchForm {
		grid-area: search;
		max-width: 13em;
		justify-self: center;

		@media ($footer-breakpoint-mediumToLarge-until) {
			width: calc(100% - #{vr-unit(1)});
		}
	}
}
