$form-linear-gradient: linear-gradient(
		112deg,
		hsla(112.86, 45.65%, 63.92%, 0) 0%,
		hsla(112.86, 45.65%, 63.92%, 0) 18.7%,
		hsla(112.86, 45.65%, 63.92%, 0.002) 34.9%,
		hsla(112.86, 45.65%, 63.92%, 0.008) 48.8%,
		hsla(112.86, 45.65%, 63.92%, 0.019) 60.6%,
		hsla(112.86, 45.65%, 63.92%, 0.037) 70.4%,
		hsla(112.86, 45.65%, 63.92%, 0.064) 78.4%,
		hsla(112.86, 45.65%, 63.92%, 0.102) 84.8%,
		hsla(112.86, 45.65%, 63.92%, 0.152) 89.8%,
		hsla(112.86, 45.65%, 63.92%, 0.216) 93.6%,
		hsla(112.86, 45.65%, 63.92%, 0.296) 96.3%,
		hsla(112.86, 45.65%, 63.92%, 0.394) 98.1%,
		hsla(112.86, 45.65%, 63.92%, 0.512) 99.2%,
		hsla(112.86, 45.65%, 63.92%, 0.651) 99.8%,
		hsla(112.86, 45.65%, 63.92%, 0.813) 100%,
		hsl(112.86, 45.65%, 63.92%) 100%
); // @source: https://larsenwork.com/easing-gradients/


form {
	// text inputs and select boxes

	input[type=text],
	input[type=email],
	input[type=tel],
	textarea {
		border: 1px solid $colors-emphasizing;
		border-radius: 6px;
		padding: 15px vr-unit(0.5) 2px;
		background: $form-linear-gradient, $colors-default-background;
	}

	input[type=text],
	input[type=email],
	input[type=tel],
	select,
	textarea {
		transition: box-shadow 100ms ease-out;
	}

	input[type=text]:focus,
	input[type=email]:focus,
	input[type=tel]:focus,
	select:focus,
	textarea:focus {
		box-shadow: 0 0 4px $colors-emphasizing;
	}

	// radio lists and checkboxes

	input[type=checkbox] {
		opacity: 0;
		position: absolute;
		z-index: -1;
	}
	input[type=checkbox] + label {
		position: relative;
		display: flex;

		&::before {
			content: "";
			height: 20px;
			width: 20px;
			border: 2px solid $colors-emphasizing;
			margin-right: vr-unit(0.5);
			flex-shrink: 0;
			border-radius: 3px;
			background: $form-linear-gradient;
			transition: box-shadow 100ms ease-out;
		}
	}
	input[type=checkbox]:checked + label {
		&::after {
			content: url("../images/icon-check.svg");
			display: block;
			flex-shrink: 0;
			width: 14px;
			height: 14px;
			position: absolute;
			top: 0;
			left: 0.13em;

			@media ($typography-breakpoint-large-from) {
				top: -0.1em;
			}
		}
	}

	input[type=radio] {
		opacity: 0;
		position: absolute;
		z-index: -1;
	}
	input[type=radio] + label {
		position: relative;
		display: flex;

		&::before {
			content: "";
			border-radius: 50%;
			height: 20px;
			width: 20px;
			border: 2px solid $colors-emphasizing;
			flex-shrink: 0;
			display: inline-block;
			margin-right: vr-unit(0.5);
			transition: box-shadow 100ms ease-out;
		}
	}

	input[type=radio]:checked + label {
		&::after {
			content: "";
			display: block;
			flex-shrink: 0;
			width: 12px;
			height: 12px;
			background-color: $colors-emphasizing;
			border-radius: 50%;
			position: absolute;
			top: 4px;
			left: 4px;
			//	co linear gradient?
		}
	}

	input[type=checkbox]:focus + label,
	input[type=radio]:focus + label {
		&::before {
			box-shadow: 0 0 4px $colors-emphasizing;
		}
	}

	input[type=button],
	input[type=reset],
	input[type=submit],
	button {
		@extend .button;
		@extend .button--primary;
		cursor: pointer;
		text-transform: initial !important;
	}
}
