.list {
	max-width: 20rem;
	list-style-type: none;

	@media ($typography-breakpoint-large-from) {
		margin-left: auto;
		margin-right: auto;
	}

	&:not(&--noBackground) {
		@media ($typography-breakpoint-large-from) {
			background-color: $colors-tinge;
			border-radius: 2em;
			padding: vr-unit(1) vr-unit(3);
			max-width: calc(28em + #{vr-unit(6)});
		}
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: vr-unit(0.5);
		}

		&::before {
			content: "→️";
			font-size: 0.65em;
			position: absolute;
			margin-left: -1.5em;
			margin-top: 0.2em;

			@media ($typography-breakpoint-large-from) {
				margin-left: -#{vr-unit(1)};
				font-size: 0.75em;
				margin-top: 0.15em;
			}
		}
	}
}
