.references {
	position: relative;
	max-width: 40rem;
	margin-left: auto;
	margin-right: auto;

	&__link {
		position: relative;
		display: block;
		text-decoration: none;

		/*&::before,
		&::after {
			opacity: 0;
			transition: opacity 500ms ease-in-out;
		}
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 1;
			background-color: transparentize($colors-text, 0.7);
			border-radius: 2em;
		}

		&::after {
			content: "O Brontosaurovi";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			padding: vr-unit(0.5) vr-unit(1) calc(#{vr-unit(0.5)} - 0.25rem);
			border-radius: 2em;
			background-color: $colors-tinge;
			z-index: 2;
		}*/

		&:hover {
			color: inherit !important;

			/*&::before,
			&::after {
				opacity: 1;
			}*/
		}
	}

	&__button {
		position: absolute;
		top: calc(50% - #{vr-unit(1)});
		padding: vr-unit(1);
		background-image: url("../images/icon-arrow-right.svg");
		background-position: center center;
		background-size: auto 1.5em;
		background-repeat: no-repeat;
		z-index: 3;
		opacity: 1;
		transition: opacity 200ms ease-in-out;

		&--previous {
			left: -#{vr-unit(1)};
			transform: rotateY(200grad);

			&:active {
				transform: translate(1px, 1px) rotateY(200grad); // join transform style from button and here
			}
		}

		&--next {
			right: -#{vr-unit(1)};
		}

		&--hidden {
			opacity: 0;
			pointer-events: none;
		}
	}

	&__list {
		--carouselPosition: 1;
		list-style-type: none;
		display: flex;
		overflow: hidden;
		border-radius: 2em;
	}

	&__list-item {
		flex-shrink: 0;
		flex-basis: 100%;
		transform: translateX(calc(var(--carouselPosition) * -100%));
		transition: transform 200ms ease-in-out;
		margin-left: initial;
		margin-right: initial;
	}

	&__name {
		font-weight: bold;
	}

	&__role {
		margin-top: -0.2em;
		font-size: 0.85em;
	}

	&__quotation {
		font-size: 0.85em;
	}
}
