.registration {
	max-width: 32rem;
	margin-left: auto;
	margin-right: auto;

	&__full {
		max-width: max-content;
		margin-inline: auto;
		padding: calc(var(--hb-vr-base)) calc(var(--hb-vr-base) * 2);
		background-color: transparentize($colors-emphasizing, 0.9);
		border-radius: 2em;
		text-align: center;
	}

	&__text {
		text-align: center;
	}

	&__actionButton {
		display: block;
		margin-inline: auto;
		max-width: 9em; // fallback
		max-width: max-content;
		margin-bottom: vr-unit(0.5);
		border: 2px solid transparent;
		cursor: pointer;

		&::after {
			top: calc(50% - 8px);
			width: 10px;
			height: 16px;
			mask-image: url("../images/icon-arrow.svg");
			mask-repeat: no-repeat;
			mask-size: auto 100%;
			background-color: $colors-default-background;
			background-image: none;
			transition:
				background-color 200ms ease-in-out,
				transform 200ms ease-in-out;
		}
	}
}
