.sponsors {
	border-top: 2px solid $colors-tinge;
	padding: vr-unit(2) vr-unit(1);
	text-align: center;

	&-list {
		display: grid;
		grid-template-columns: repeat(auto-fit, 8em);
		grid-row-gap: vr-unit(2);
		grid-column-gap: vr-unit(1);
		align-items: center;
		justify-items: center; // center items relatively to their grid cell
		justify-content: center; // center items as a block relatively to the grid container
		max-width: 72rem;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: vr-unit(2);
		list-style-type: none;
		filter: grayscale(100%);

		&-item {
			&--msmt {
				max-width: 5.6em;
			}
			&--mv {
				max-width: 7.9em;
			}
			&--mzp {
				max-width: 8.2em;
			}
			&--mzv {
				max-width: 9.2em;
			}
		}
	}

	&-link {
		font-size: 0.9em;
		color: #555;
	}
}
