@use "sass:color";
@use "../imports/settings";

// Primary action, so called "CTA".
.action--primary {
	border-radius: 2em;
	text-decoration: none;
	background-color: var(--hb-colors-emphasizing);
	color: var(--hb-colors-default-background) !important; // overwrite global link style
	transition:
		background-color 200ms ease-in-out,
		color 200ms ease-in-out;
}
.action--primary:hover {
	background-color: #{color.adjust(settings.$colors-emphasizing, $lightness: -10%)};
	color: inherit;
}
.action--primary:not(.action--lg) {
	display: inline-flex;
	align-items: center;
	gap: 0.25rlh;
	padding:
		0.25rlh
		0.5rlh
		calc(0.25rlh - 0.15rem);
}
.action--primary:not(.action--lg).action--paw::before {
	content: "";
	display: block;
	height: 0.7em;
	aspect-ratio: 1;
	transform: translateY(calc(-0.15em / 2));
	background-color: white;
	mask-image: url("../../../images/icons/icon-smallPaw.svg");
	mask-size: auto 100%;
	mask-position: center center;
	mask-repeat: no-repeat;
}

.action--primary.action--lg {
	display: inline-block;
	border: none; // ?
	padding-inline: 1rlh calc(1rlh + 5px);
	padding-block: calc(0.5rlh + 0.25em) 0.5rlh;
	position: relative;
	text-transform: uppercase;
	//box-shadow: 4px 2px 8px 0 var(--hb-colors-default-background); // or 0 0 10px 3px
}
@media (min-width: 23.001em) {
	.action--primary.action--lg {
		padding-inline: 2rlh calc(2rlh + 5px);
	}
}
@media (min-width: 20.001em) {
	.action--primary.action--lg::after {
		content: "";
		display: inline-block;
		position: absolute;
		right: 25px;
		top: calc(50% - 9px);
		width: 10px;
		height: 17px;
		background-image: url("../../../images/icons/icon-arrow.svg");
		background-repeat: no-repeat;
		background-size: auto 100%;
	}
}


// When there are more possibilities to interact with.
.action--possible {} // @todo: will be moved from .button--secondary

// An additional action when you want to allow user to see more information about primary action's content.
.action--ulterior {
	display: block;
	max-width: max-content;
	margin-inline: auto;

	--iconSize: 0.8em;
	background-image: url("../../../images/icons/icon-smallPaw.svg");
	padding-inline-start: calc(var(--iconSize) + 0.25rlh);
	background-size: auto var(--iconSize);
	background-position: left 0.15em;
	background-repeat: no-repeat;

	text-decoration: underline;
}
