.action {
	// Primary action, so called "CTA".
	&--primary {
		display: inline-flex;
		align-items: center;
		gap: calc(var(--hb-vr-base) * 0.25);
		border-radius: 2em;
		text-decoration: none;
		transition:
			background-color 200ms ease-in-out,
			color 200ms ease-in-out;

		padding:
			calc(var(--hb-vr-base) * 0.25)
			calc(var(--hb-vr-base) * 0.5)
			calc(var(--hb-vr-base) * 0.25 - 0.15rem);

		background-color: var(--hb-colors-emphasizing);
		color: var(--hb-colors-default-background) !important; // overwrite global link style

		&:hover {
			background-color: #{darken($colors-emphasizing, 10)};
			color: inherit;
		}
	}
	&--primary#{&}--paw {
		&::before {
			content: "";
			display: block;
			height: 0.7em;
			aspect-ratio: 1;
			transform: translateY(calc(-0.15em / 2));
			background-color: white;
			mask-image: url("../images/icon-smallPaw.svg");
			mask-size: auto 100%;
			mask-position: center center;
			mask-repeat: no-repeat;
		}
	}

	// When there are more possibilities to interact with.
	&--possible {} // @todo: will be moved from .button--secondary

	// An additional action when you want to allow user to see more information about primary action's content.
	&--ulterior {
		display: block;
		max-width: max-content;
		margin-left: auto;
		margin-right: auto;

		--iconSize: 0.8em;
		background-image: url("../images/icon-smallPaw.svg");
		padding-left: calc(var(--iconSize) + #{vr-unit(0.25)});
		background-size: auto var(--iconSize);
		background-position: left 0.15em;
		background-repeat: no-repeat;

		text-decoration: underline;
	}
}
