.administrativeUnitsMap {
	&__filters {
		display: flex;
		flex-wrap: wrap;
		font-size: 0.9em;
		list-style-type: none;

		@media ($typography-breakpoint-large-from) {
			margin-bottom: vr-unit(0.5);
		}
	}
	&__filter {
		margin-bottom: 0.3em;

		&:not(:last-child) {
			margin-right: 0.3em;
		}
	}
	&__filterLink {
		&--icon {
			background-size: 0.7em;
			background-position: vr-unit(0.5) center;
			background-repeat: no-repeat;
			padding-left: calc(#{vr-unit(1)} + 0.4em);
		}

		&--office {
			background-image: url("../images/icon-marker-office.svg");
		}
		&--regional {
			background-image: url("../images/icon-marker-regional.svg");
		}
		&--base {
			background-image: url("../images/icon-marker-base.svg");
		}
		&--club {
			background-image: url("../images/icon-marker-club.svg");
		}
		&--children {
			background-image: url("../images/icon-marker-children.svg");
		}
	}
	&__filter--active &__filterLink {
		background-color: $colors-emphasizing;
		color: $colors-default-background !important;
	}

	&__map {
		height: 20em;
		max-height: 100vh;
		margin-left: -#{vr-unit(1)};
		margin-right: -#{vr-unit(1)};

		img {
			max-width: initial;
		}
	}
	&__infoWindow {
		display: flex;
		gap: calc(var(--hb-vr-base) * 0.5);
	}
	&__infoWindowImageContainer {
		flex-basis: 12rem;
		flex-shrink: 0;
	}
	&__infoWindowImage {
		max-width: 100% !important;
		object-fit: cover;
		height: 100%;
	}
	&__infoWindowDescription {
		margin-block-start: calc(var(--hb-vr-base) * 0.25);
	}
}


