.administrativeUnitsMap {
	&__filters {
		display: flex;
		flex-wrap: wrap;
		font-size: 0.9em;
		list-style-type: none;

		@media ($typography-breakpoint-large-from) {
			margin-block-end: 0.5rlh;
		}
	}
	&__filter {
		margin-block-end: 0.3em;

		&:not(:last-child) {
			margin-inline-end: 0.3em;
		}
	}
	&__filterLink {
		&--icon {
			background-size: 0.7em;
			background-position: 0.5rlh center;
			background-repeat: no-repeat;
			padding-inline-start: calc(1rlh + 0.4em);
		}

		&--office {
			background-image: url("../images/icon-marker-office.svg");
		}
		&--regional {
			background-image: url("../images/icon-marker-regional.svg");
		}
		&--base {
			background-image: url("../images/icon-marker-base.svg");
		}
		&--club {
			background-image: url("../images/icon-marker-club.svg");
		}
		&--children {
			background-image: url("../images/icon-marker-children.svg");
		}
	}
	&__filter--active &__filterLink {
		background-color: var(--hb-colors-emphasizing);
		color: var(--hb-colors-default-background) !important;
	}

	&__map {
		height: 20em;
		max-height: 100vh;
		margin-inline: -1rlh;

		img {
			max-width: initial;
		}
	}
	&__infoWindow {
		display: flex;
		gap: 0.5rlh;
	}
	&__infoWindowImageContainer {
		flex-basis: 12rem;
		flex-shrink: 0;
	}
	&__infoWindowImage {
		max-width: 100% !important;
		object-fit: cover;
		height: 100%;
	}
	&__infoWindowDescription {
		margin-block-start: 0.25rlh;
	}
}


