@use "sass:color";
@use "../imports/settings";

.brontographics__shape {
    fill: var(--hb-colors-emphasizing);
    cursor: pointer;
    transition: fill 200ms linear;
}
.brontographics__shape:hover {
    fill: color.adjust(settings.$colors-emphasizing, $lightness: -10%);
}

.brontographics__label {
    fill: var(--hb-colors-text);
    font-size: 1.2em;
    opacity: 0;
    pointer-events: none;
    transition: opacity 200ms 100ms linear;
}

.brontographics__shape:hover + .brontographics__label {
    opacity: 1;
    pointer-events: auto;
}
