@use "sass:color";

$buttons-secondary-breakpoint-rightBottomBubbleToCenteredButton: 39em;
$buttons-secondary-breakpoint-rightBottomBubble-until: "max-width: " + $buttons-secondary-breakpoint-rightBottomBubbleToCenteredButton;
$buttons-secondary-breakpoint-centeredButton-from: "min-width: " + ($buttons-secondary-breakpoint-rightBottomBubbleToCenteredButton + 0.001);

// @todo: move to .hb-action
.button {

	// shared styles for all button types
	display: inline-block;
	border-radius: 2em;
	text-decoration: none;
	transition:
		background-color 200ms ease-in-out,
		color 200ms ease-in-out;
}

.button--secondary {
	padding-block-start: calc(0.5rlh + 0.25em);
	padding-block-end: 0.5rlh;
}


// option buttons/links - these should give you an option where you can go; used typically for in-block buttons/links
// @todo rename to option

.button--secondary-wrapper { // wrapper is mandatory for this button type on its parent
	display: block;
	overflow: hidden;
	position: relative;
}
.button--secondary {
	display: block;
	position: absolute;
	bottom: 1rlh;
	max-width: 8em;
	z-index: 0;
	text-decoration: none;
	text-transform: uppercase;
	transition: color 200ms ease-in-out;
	hyphens: auto;
}
@media ($buttons-secondary-breakpoint-rightBottomBubble-until) {
	.button--secondary {
		text-align: right;
		right: 1rlh;
	}
}
@media ($buttons-secondary-breakpoint-centeredButton-from) {
	.button--secondary {
		max-width: 20em;
		left: 50%; transform: translateX(-50%); // center absolutely positioned element
		white-space: nowrap; // avoid line breaks (when `left: 50%` hits right border of an element, it causes line break)
		padding: 0.5rlh 1rlh calc(0.5rlh - 0.3em);
		border-radius: 2em;
	}
}
.button--secondary::before {
	background-image: url("../../../images/icons/icon-smallPaw.svg");
	background-position: left top;
	background-size: 100% auto;
	background-repeat: no-repeat;
	content: "";
	display: inline-block;
	height: 22px;
	margin-block-end: -0.1em;
	margin-inline-end: 10px;
	width: 20px;
}
.button--secondary::after {
	content: "";
	background-color: color-mix(in srgb, var(--hb-colors-default-background) 80%, transparent);
	width: 13em;
	height: 13em;
	position: absolute;
	border-radius: 50%;
	top: -3em;
	z-index: -1;
	transition: background-color 200ms ease-in-out;
}
@media ($buttons-secondary-breakpoint-rightBottomBubble-until) {
	.button--secondary::after {
		right: -4em;
	}
}
@media ($buttons-secondary-breakpoint-centeredButton-from) {
	.button--secondary::after {
		background-color: color-mix(in srgb, var(--hb-colors-default-background) 90%, transparent);
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		border-radius: 2em;
	}
}
.button--secondary-wrapper:hover .button--secondary {
	color: var(--hb-colors-default-background);
}
.button--secondary-wrapper:hover .button--secondary::after {
	background-color: var(--hb-colors-emphasizing);
}


// used for customization buttons like event filters

.button--customization {
	padding: 0.3em 1rlh 0.15em;
	border: none;
	background-color: var(--hb-colors-tinge);
	color: var(--hb-colors-text);
	cursor: pointer;
}
.button--customization:hover,
.button--customization:active {
	background-color: var(--hb-colors-tinge-darken);
	color: initial !important; // overwrite `.content a` style
}
.button--customization:active {
	transform: translate(1px, 1px);
}
