@use "../settings";

.content {
	padding: 0.5rlh 1rlh 2rlh;
	color: color-mix(in srgb, var(--hb-colors-text) 80%, transparent);
}
@media (settings.$header-breakpoint-navigationHiddenToVisible-visible-from) {
	.content {
		padding-inline: 2rlh;
	}
}

.coverPhoto + .content {
	padding-block-start: 2rlh;
}
.content a {
	color: color-mix(in srgb, var(--hb-colors-text) 80%, transparent);
}
.content a:hover {
	color: var(--hb-colors-emphasizing); // same as in defaults
}
.content h1,
.content .hb-block-heading {
	font-size: 1.7em;
	font-weight: 700;
	margin-block-end: 0.5rlh;
}
@media (settings.$typography-breakpoint-small-until) {
	.content h1,
	.content .hb-block-heading {
		line-height: 1;
	}
}
@media (settings.$typography-breakpoint-large-from) {
	.content h1,
	.content .hb-block-heading {
		font-size: 2.5em;
		text-align: center;
		margin-block-end: 1rlh;
	}
}

.content h2 {
	font-size: 1.25em;
	font-weight: 700;
	margin-block-end: 0.5rlh;

	@media (settings.$typography-breakpoint-large-from) {
		font-size: 1.5em;
		text-align: center;
	}
}

.content h3 {
	font-size: 1.1em;
	font-weight: 300; // @todo or bold?
	margin-block-end: 0.5rlh;
}
