.dalsich50 {
	padding: calc(var(--hb-vr-base) * 0.5) calc(var(--hb-vr-base) * 1);
	background-color: var(--hb-colors-emphasizing);
	color: var(--hb-colors-default-background);
	text-align: center;

	@include header-navigation-collapsed-until() {
		margin-block-end: calc(var(--hb-vr-base) * 0.5);
	}

	a {
		color: inherit;
	}
}
