@use "../settings";

.description__text {
	max-inline-size: 28rem;
	margin-block-end: 0.5rlh;
	text-align: left;
}
@media (settings.$typography-breakpoint-large-from) {
	.description__text {
		margin-inline: auto;
	}
}
@media (settings.$description-breakpoint-twoColumns-from) {
	.description__text {
		margin-block-end: 1rlh;
	}
}
@media (settings.$typography-breakpoint-large-from) {
	.description__text {
		margin-inline: auto;
	}
}

.description__list {
	display: grid;
	grid-gap: 1rlh;
	grid-template-columns: 1fr;
	justify-content: center;
	max-width: 28rem;
}
@media (settings.$description-breakpoint-twoColumns-from) and (settings.$typography-breakpoint-small-until) {
	.description__list {
		margin-inline: -1rlh;
		max-width: calc(28rem + 2rlh);
	}
}
@media (settings.$typography-breakpoint-large-from) {
	.description__list {
		grid-template-columns: 1fr 1fr;
		max-width: 40rem;
		margin-inline: auto;
	}
}

.description__item {
	grid-column-start: span 2;
}
@media (settings.$typography-breakpoint-large-from) {
	.description__item {
		grid-column-start: span 1;
	}
}
.description__item--fullWidth {
	grid-column-start: span 2;
}
@media (settings.$typography-breakpoint-large-from) {
	.description__item--fullWidth .description__itemText {
		max-width: 28rem; // rem unit as we want to keep with context
		margin-inline: auto;
	}
}
