.description {
	&__text {
		@include block-text();
		margin-block-end: 0.5rlh;
		text-align: left;

		@media ($description-breakpoint-twoColumns-from) {
			margin-block-end: 1rlh;
		}
		@media ($typography-breakpoint-large-from) {
			margin-inline: auto;
		}
	}

	&__list {
		display: grid;
		grid-gap: 1rlh;
		grid-template-columns: 1fr;
		justify-content: center;
		max-width: 28rem;

		@media ($description-breakpoint-twoColumns-from) and ($typography-breakpoint-small-until) {
			margin-inline: -1rlh;
			max-width: calc(28rem + 2rlh);
		}
		@media ($typography-breakpoint-large-from) {
			grid-template-columns: 1fr 1fr;
			max-width: 40rem;
			margin-inline: auto;
		}
	}

	&__item {
		grid-column-start: span 2;

		@media ($typography-breakpoint-large-from) {
			grid-column-start: span 1;
		}

		&--fullWidth {
			grid-column-start: span 2;
		}
	}
	&__item--fullWidth &__itemText {
		@media ($typography-breakpoint-large-from) {
			max-width: 28rem; // rem unit as we want to keep with context
			margin-inline: auto;
		}
	}
}
