$events-breakpoint-oneColumnToTwoColumns: $header-breakpoint-navigationHiddenToVisible + 5em;
$events-breakpoint-oneColumn-until: "max-width: " + $events-breakpoint-oneColumnToTwoColumns;
$events-breakpoint-twoColumns-from: "min-width: " + ($events-breakpoint-oneColumnToTwoColumns + 0.001);

$events-breakpoint-TwoToThreeColumns: 73em;
$events-breakpoint-twoColumns-until: "max-width: " + $events-breakpoint-TwoToThreeColumns;
$events-breakpoint-threeColumns-from: "min-width: " + ($events-breakpoint-TwoToThreeColumns + 0.001);

.hb-eventList {
	&__grid {
		display: grid;
		grid-template-columns: 1fr;
		max-width: 19rem;
		margin: 0 auto vr-unit(1);
		padding: vr-unit(1);
		grid-gap: vr-unit(1);

		@media ($events-breakpoint-twoColumns-from) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			max-width: 38rem;
			margin-left: -#{vr-unit(1)};
			margin-right: -#{vr-unit(1)};
		}
		@media (min-width: 47.001em) {
			margin-left: auto;
			margin-right: auto;
		}

		@media ($events-breakpoint-threeColumns-from) {
			grid-template-columns: 1fr 1fr 1fr;
			max-width: 62em;
			grid-gap: vr-unit(1);
		}

		&--collapse {
			margin-top: -#{vr-unit(1)};
			overflow: hidden;
			overflow-anchor: none;
			transition: max-height 200ms ease-in-out;
			--height: 0;
			max-height: var(--height);
		}
		&:not(&--opened) {
			padding-top: 0;
			padding-bottom: 0;
		}
	}

	&__noResults {
		margin-top: vr-unit(3);
		margin-bottom: vr-unit(5);

		@media ($header-breakpoint-navigationHiddenToVisible-visible-from) {
			text-align: center;
		}
	}

	&__moreLink {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}
