.hb-eventList {
	&__grid {
		display: grid;
		gap: 1rlh;
		grid-template-columns: 1fr;
		max-width: 19rem;
		margin-inline: auto;

		@media ($events-breakpoint-twoColumns-from) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			max-width: 38rem;
			margin-inline: -1rlh;
			padding-inline: 1rlh;
		}
		@media (min-width: 47.001em) {
			margin-inline: auto;
		}

		@media ($events-breakpoint-threeColumns-from) {
			grid-template-columns: 1fr 1fr 1fr;
			max-width: 62em;
		}
	}
	&__grid:not(:first-child) { // &__grid ~ &__grid doesn't work with `display: contents`
		margin-block-start: 1rlh;
	}
	&--smaller &__grid {
		@media ($events-breakpoint-threeColumns-from) {
			max-width: 50em;
		}
	}
	.hb-expandable:not(.hb-expandable--expanded) .hb-eventList__grid {
		overflow: hidden;
		overflow-anchor: none;
		transition: max-height 200ms ease-in-out;
		--height: 0;
		max-height: var(--height);
		padding-block: 0;
	}

	&__noResults {
		margin-block-start: 3rlh;
		margin-block-end: 5rlh;

		@media ($header-breakpoint-navigationHiddenToVisible-visible-from) {
			text-align: center;
		}
	}

	&__moreLink {
		margin-block-start: 1rlh;
		display: block;
		margin-inline: auto;
	}
	.hb-expandable.hb-expandable--expanded &__moreLink {
		display: none;
	}
}
