@use "../imports/settings";

.hb-eventList__grid {
	display: grid;
	gap: 1rlh;
	grid-template-columns: 1fr;
	max-width: 19rem;
	margin-inline: auto;
}
@media (settings.$events-breakpoint-twoColumns-from) {
	.hb-eventList__grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		max-width: 38rem;
		margin-inline: -1rlh;
		padding-inline: 1rlh;
	}
}
@media (min-width: 47.001em) {
	.hb-eventList__grid {
		margin-inline: auto;
	}
}

@media (settings.$events-breakpoint-threeColumns-from) {
	.hb-eventList__grid {
		grid-template-columns: 1fr 1fr 1fr;
		max-width: 62em;
	}
}
.hb-eventList__grid:not(:first-child) { // .hb-eventList__grid ~ .hb-eventList__grid doesn't work with `display: contents`
	margin-block-start: 1rlh;
}
@media (settings.$events-breakpoint-threeColumns-from) {
	.hb-eventList--smaller .hb-eventList__grid {
		max-width: 50em;
	}
}
.hb-eventList .hb-expandable:not(.hb-expandable--expanded) .hb-eventList__grid {
	overflow: hidden;
	overflow-anchor: none;
	transition: max-height 200ms ease-in-out;
	--height: 0;
	max-height: var(--height);
	padding-block: 0;
}

.hb-eventList__noResults {
	margin-block-start: 3rlh;
	margin-block-end: 5rlh;
}
@media (settings.$header-breakpoint-navigationHiddenToVisible-visible-from) {
	.hb-eventList__noResults {
		text-align: center;
	}
}

.hb-eventList__moreLink {
	margin-block-start: 1rlh;
	display: block;
	margin-inline: auto;
}
.hb-eventList .hb-expandable--expanded .hb-eventList__moreLink {
	display: none;
}
