.eventTag {
	display: inline-block;
	padding-inline: 0.5rlh;
	padding-block: 0.125rlh calc(0.125rlh - 0.15em);
	background-color: var(--hb-colors-tinge);
	color: var(--hb-colors-text);
	font-size: 0.8rem;
	border-radius: 2em;
}
