@use "sass:color";
@use "../imports/settings";

.hb-expandable__toggler {
	display: block;
	margin-inline: auto;
	position: relative;
	padding-inline-start: 0.75em;
	padding-inline-end: calc(1rlh + 0.25rlh);
}
.hb-expandable__toggler::after {
	content: "";
	position: absolute;
	top: 0.5rlh;
	right: 0.5rlh;
	display: inline-block;
	width: 11px; // fine-tuned value
	height: 7px; // fine-tuned value
	background-image: url("../../../images/icons/icon-arrow-down-black.svg");
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 11px; // fine-tuned value
	transition: transform 100ms linear;
}
.hb-expandable--expanded .hb-expandable__toggler {
	background-color: transparent; // overwrite button style
}
.hb-expandable--expanded .hb-expandable__toggler:hover {
	background-color: var(--hb-colors-tinge-darken);
}
.hb-expandable--expanded .hb-expandable__toggler::after {
	transform: rotate(180deg);
}
