@use "../settings";

.filters .hb-expandable__toggler {
	transition: margin-block-end 200ms 50ms ease-in-out;
}
@media (settings.$header-breakpoint-navigationHiddenToVisible-visible-from) {
	.filters .hb-expandable__toggler {
		display: none;
	}
}
.filters.hb-expandable--expanded .hb-expandable__toggler {
	margin-block-end: 0.5rlh;
}

.filters__list {
	display: flex;
	gap: 0.25rlh;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	list-style: none;
}
@media (settings.$header-breakpoint-navigationHiddenToVisible-hidden-until) {
	.filters__list {
		overflow: hidden;
		overflow-anchor: none;
		transition: max-height 200ms ease-in-out;
		--height: 0;
		max-height: var(--height);
	}
}

.filters__link {
	display: inline-block;
	background-color: var(--hb-colors-links);
	text-decoration: none;
}
.filters__link--selected {
	background-color: var(--hb-colors-emphasizing) !important;
	color: var(--hb-colors-default-background) !important;
}
.filters__link:active {
	color: var(--hb-colors-tinge);
}
