@use "sass:color";
@use "../imports/settings";

.footer-wrapper {
	background-color: var(--hb-colors-tinge);
	position: relative;
	padding: 2rlh 1rlh;
}
.footer {
	max-width: 28em;
	margin-inline: auto;
}
.footer__navigation {
	margin-block-end: 1rlh;
}
@media (settings.$footer-breakpoint-fullSize-from) {
	.footer__navigation {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		column-gap: 0.5rlh;
		margin-block-end: 2rlh;
	}
}
@media (settings.$footer-breakpoint-fullSize-until) {
	.footer__navigation .menu > .menu-item {
		text-align: center;
	}
}
.footer__navigation .menu > .menu-item > a {
	display: inline-block;
	padding: 0.3em 0 0.15em;
	color: var(--hb-colors-text);
	text-decoration: none;
	transition: color 200ms linear;
}
.footer__navigation .menu > .menu-item > a:hover {
	color: var(--hb-colors-emphasizing);
}
.footer__navigation .menu > .menu-item.current-menu-item > a,
.footer__navigation .menu > .menu-item.active > a {
	color: var(--hb-colors-default-background) !important; // overwrite default hover behaviour
	position: relative;
	isolation: isolate;
}
.footer__navigation .menu > .menu-item.current-menu-item > a::before,
.footer__navigation .menu > .menu-item.active > a::before {
	content: "";
	position: absolute;
	z-index: -1;
	background-color: var(--hb-colors-emphasizing);
	width: calc(100% + 1rlh);
	height: 100%;
	border-radius: 2em;
	transform: translate(-0.5rlh, -0.3em);
	transition: background-color 200ms linear;
}
.footer__navigation .menu > .menu-item.current-menu-item > a:hover::before,
.footer__navigation .menu > .menu-item.active > a:hover::before {
	background-color: var(--hb-colors-emphasizing-darken);
}

.footer__bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rlh;
}
@media (settings.$footer-breakpoint-fullSize-from) {
	.footer__bottom {
		flex-direction: row;
		justify-content: space-between;
		gap: 1rlh;
	}
}

@media (settings.$footer-breakpoint-fullSize-from) {
	.footer__logo,
	.footer__searchForm {
		flex-basis: 50%;
	}
}

.footer__logo {
	display: block;
	max-height: 3rem;
	aspect-ratio: 4/1;
	background-image: url("../../../images/logo-hb-full.png");
	background-size: auto 100%;
	background-position: center center;
	background-repeat: no-repeat;
}
@media (settings.$footer-breakpoint-fullSize-until) {
	.footer__logo {
		width: 100%;
	}
}
@media (settings.$footer-breakpoint-fullSize-from) {
	.footer__logo {
		background-position-x: left;
	}
}

.footer__searchForm {
	max-inline-size: 20rem;
}
