@use "sass:color";
@use "../imports/settings";

@media (settings.$header-breakpoint-navigationHiddenToVisible-hidden-until) {
	.header-paddingFixContainer { // ideally would be in separate place and header should be modified through page's element (in BEM terminology), but this is enough for now
		--page-header-height: 4rem;
		padding-block-start: var(--page-header-height);
	}
}
.header-wrapper {
	top: 0;
	z-index: 99;
	background-color: var(--hb-colors-default-background);
}
@media (prefers-reduced-motion: no-preference) {
	.header-wrapper {
		transition: transform 200ms ease-in-out;
	}
}
@media (settings.$header-breakpoint-navigationHiddenToVisible-hidden-until) {
	.header-wrapper {
		position: fixed;
		width: 100%;
		height: var(--page-header-height);
		overflow: hidden;
	}
}
@media (settings.$header-breakpoint-navigationHiddenToVisible-visible-from) {
	.header-wrapper {
		position: sticky;
	}
}
.header-wrapper.headroom--not-top {
	border-bottom: 2px solid var(--hb-colors-emphasizing);
}

.header-wrapper.headroom--unpinned {
	transform: translateY(-100%);
}

.header-wrapper.headroom:not(.headroom--unpinned) {
	transform: translateY(0);
}
@media (settings.$header-breakpoint-navigationHiddenToVisible-hidden-until) {
	.header-wrapper.headroom:not(.headroom--unpinned) {
		height: auto;
	}
}
.header {
	align-items: center;
	display: grid;
	grid-template-areas:
		"logo . searchBarToggler toggleNavigationLink"
		"mainNavigation mainNavigation mainNavigation mainNavigation"
		"futureEventsLink futureEventsLink futureEventsLink futureEventsLink"
		"languageLink languageLink languageLink languageLink";
	grid-template-columns: 8.6em auto 2.58em 2.58em;
	margin-inline: auto;
	max-width: 52.5em;
	padding: 0.5rlh 0 0.5rlh 0.5rlh;
}

.header__logo {
	grid-area: logo;
	align-self: self-start;
}

.header__searchBarToggler {
	grid-area: searchBarToggler;
	display: block;
	padding: calc(0.5rlh + 8px);
	background-color: transparent;
	background-image: url("../../../images/icons/icon-search-black.svg");
	background-position: center center;
	background-size: auto 17px;
	background-repeat: no-repeat;
}
@media (prefers-reduced-motion: no-preference) {
	.header__searchBarToggler {
		transition: background-color 200ms ease-in-out;
	}
}

.header__toggleNavigationLink {
	grid-area: toggleNavigationLink;
	padding: 0.25rlh 0.5rlh;

	// important for browsers not supporting grid
	display: block;
	max-width: 3em;
	margin-inline-start: auto;
}
.header__toggleNavigationLink svg {
	width: 100%;
}

.header-mainNavigation__languageLink,
.header-mainNavigation .menu > .menu-item > a,
.header__futureEventsLink {
	display: block;
	padding: 0.3em 0 calc(0.3em - 0.15em);
	text-decoration: none;
}
@media (settings.$header-breakpoint-navigationHiddenToVisible-hidden-until) {
	.header-mainNavigation__languageLink,
	.header-mainNavigation .menu > .menu-item > a,
	.header__futureEventsLink {
		text-align: right;
	}
}
@media (settings.$header-breakpoint-navigationHiddenToVisible-hidden-until) {
	.header-mainNavigation__languageLink--active,
	.header__futureEventsLink--active,
	.header-mainNavigation .menu > .menu-item:is(.active, .current_page_item, .current-page-ancestor) > a {
		color: var(--hb-colors-emphasizing);
		font-weight: bold;
	}
}

.header-mainNavigation {
	display: contents;
}
.header-mainNavigation__languageLink {
	text-decoration: none;
	grid-area: languageLink;
}
@media (settings.$header-breakpoint-navigationHiddenToVisible-hidden-until) {
	.header-mainNavigation__languageLink {
		display: none;
		margin-block-end: 0.5rlh;
		margin-inline-end: 0.5rlh;
	}
}

.menu {
	grid-area: mainNavigation;
	list-style-type: none;
}
@media (settings.$header-breakpoint-navigationHiddenToVisible-hidden-until) {
	.menu {
		display: none;
		padding-block-start: 0.5rlh;
		margin-block-start: 0.5rlh;
		border-top: 2px solid var(--hb-colors-emphasizing);
		margin-inline-end: 0.5rlh;
	}
}
.header-mainNavigation .menu > .menu-item::before {
	position: absolute; // fixes sanitize.css bug https://github.com/csstools/sanitize.css/issues/203
}
@media (settings.$header-breakpoint-navigationHiddenToVisible-hidden-until) {
	.header--isOpened .header-mainNavigation__languageLink,
	.header--isOpened .header-mainNavigation .menu {
		display: block;
	}
}

.header__futureEventsLink {
	grid-area: futureEventsLink;
}
@media (settings.$header-breakpoint-navigationHiddenToVisible-hidden-until) {
	.header__futureEventsLink {
		display: none;
		margin-inline-end: 0.5rlh;
	}
}
@media (settings.$header-breakpoint-navigationHiddenToVisible-hidden-until) {
	.header--isOpened .header__futureEventsLink {
		display: block;
	}
}


@media (settings.$header-breakpoint-navigationHiddenToVisible-visible-from) {
	.header {
		grid-template-areas:
			"logo . searchBarToggler futureEventsLink languageLink"
			"mainNavigation mainNavigation mainNavigation mainNavigation mainNavigation";
		grid-template-columns: 9em auto min-content min-content min-content;
		padding-inline-end: 0.5rlh;
	}
}
@media (settings.$header-breakpoint-navigationHiddenToVisible-visible-from) {
	.header__toggleNavigationLink {
		max-height: 0;
		max-width: 0;
		padding: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
}
@media (settings.$header-breakpoint-navigationHiddenToVisible-visible-from) {
	.header-mainNavigation .menu {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		margin-inline-start: -0.5rlh;
		padding-block-start: 0.5rlh;
	}
}
@media (settings.$header-breakpoint-navigationHiddenToVisible-visible-from) {
	.header-mainNavigation .menu > .menu-item > a {
		padding-inline-start: 0.5rlh;
		padding-inline-end: 0.5rlh;
		border-radius: 2em;
	}
}
@media (settings.$header-breakpoint-navigationHiddenToVisible-visible-from) and (prefers-reduced-motion: no-preference) {
	.header-mainNavigation .menu > .menu-item > a {
		transition:
			background-color 200ms linear,
			color 200ms linear;
	}
}
@media (settings.$header-breakpoint-navigationHiddenToVisible-visible-from) {
	.header-mainNavigation .menu > .menu-item:is(.active, .current_page_item, .current-page-ancestor) > a {
		padding-block-start: 0.5rlh;
		padding-block-end: 0.4em;
		margin-block-start: -0.1em;
		background-color: var(--hb-colors-emphasizing);
		color: var(--hb-colors-default-background) !important;
	}
}
@media (settings.$header-breakpoint-navigationHiddenToVisible-visible-from) {
	.header-mainNavigation .menu > .menu-item:is(.active, .current_page_item, .current-page-ancestor) > a:hover {
		background-color: var(--hb-colors-emphasizing-darken);
	}
}
@media (settings.$header-breakpoint-navigationHiddenToVisible-visible-from) {
	.header-mainNavigation__languageLink {
		border-radius: 2em;
		text-transform: lowercase;
		white-space: nowrap;
		width: 0;
		height: 0;
		overflow: hidden;
		position: relative;
		padding: calc(0.5rlh + 8px); // we need it to be same size as futureEvents link
	}
}
@media (settings.$header-breakpoint-navigationHiddenToVisible-visible-from) and (prefers-reduced-motion: no-preference) {
	.header-mainNavigation__languageLink {
		transition:
			background-color 200ms linear,
			color 100ms linear;
	}
}
@media (settings.$header-breakpoint-navigationHiddenToVisible-visible-from) {
	.header-mainNavigation__languageLink::before {
		content: "en";
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin-block-start: 0.1em;
	}
	.header-mainNavigation__languageLink--active::before {
		content: "cs";
	}
	.header-mainNavigation__languageLinkLabel {
		opacity: 0;
	}
	.header-mainNavigation__languageLink:hover,
	.header-mainNavigation__languageLink--active {
		background-color: var(--hb-colors-emphasizing);
		color: var(--hb-colors-default-background) !important;
	}
	.header-mainNavigation__languageLink--active:hover {
		background-color: var(--hb-colors-emphasizing-darken);
	}
}
@media (settings.$header-breakpoint-navigationHiddenToVisible-visible-from) {
	.header__futureEventsLink {
		display: block;
		padding: calc(0.5rlh + 8px); // add ~half of the icon height
		margin-inline-end: 0.25rlh;
		background-color: transparent;
		background-image: url("../../../images/icons/icon-datetime-black.svg");
		background-position: center center;
		background-size: auto 18.4px; // in pixels so that the image is not blurry sometimes
		background-repeat: no-repeat;
		border-radius: 50%;
	}
}
@media (settings.$header-breakpoint-navigationHiddenToVisible-visible-from) and (prefers-reduced-motion: no-preference) {
	.header__futureEventsLink {
		transition: background-color 200ms ease-in-out;
	}
}
@media (settings.$header-breakpoint-navigationHiddenToVisible-visible-from) {
	.header__futureEventsLinkText {
		display: none;
	}
	.header__futureEventsLink--active,
	.header__futureEventsLink:hover {
		background-color: var(--hb-colors-emphasizing);
		background-image: url("../../../images/icons/icon-datetime-white.svg");
	}
	.header__futureEventsLink--active:hover {
		background-color: var(--hb-colors-emphasizing-darken);
	}

	.header__searchBarToggler {
		border-radius: 50%;
		margin-inline-end: 0.25rlh;
	}
	.header__searchBarToggler:hover {
		background-color: var(--hb-colors-emphasizing);
		background-image: url("../../../images/icons/icon-search-white.svg");
	}
}


@media (settings.$typography-breakpoint-large-from) {
	.header-mainNavigation .menu {
		padding-inline-start: 5px; // so that main navigation start with logo nicely
	}
}
