.hero {
	min-height: 19em;
	max-width: 40rem;
	background-image: var(--hero-background-image-url);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 2em;

	@media ($header-breakpoint-navigationHiddenToVisible-visible-from) {
		margin-inline: -1rlh;
	}
	@media ($typography-breakpoint-large-from) {
		margin-inline: auto;
	}
}
