.hero {
	min-height: 19em;
	max-width: 40rem;
	background-position: center top;
	background-size: cover;
	border-radius: 2em;

	@media ($header-breakpoint-navigationHiddenToVisible-visible-from) {
		margin-left: -#{vr-unit(1)};
		margin-right: -#{vr-unit(1)};
	}
	@media ($typography-breakpoint-large-from) {
		margin-left: auto;
		margin-right: auto;
	}
}
