@use "../imports/settings";

.hero {
	min-height: 19em;
	max-width: 40rem;
	background-image: var(--hero-background-image-url);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 2em;
}
@media (settings.$header-breakpoint-navigationHiddenToVisible-visible-from) {
	.hero {
		margin-inline: -1rlh;
	}
}
@media (settings.$typography-breakpoint-large-from) {
	.hero {
		margin-inline: auto;
	}
}
