@use "sass:color";
@use "../imports/settings";

.icon {
	fill: var(--hb-colors-emphasizing);
	fill-opacity: 1;
	transition: fill 100ms linear;
}
.icon:hover {
	fill: color.adjust(settings.$colors-emphasizing, $lightness: -10%);
}
