.list {
	max-width: 20rem;
	list-style-type: none;

	@media ($typography-breakpoint-large-from) {
		margin-inline: auto;
	}

	&:not(&--noBackground) {
		@media ($typography-breakpoint-large-from) {
			background-color: var(--hb-colors-tinge);
			border-radius: 2em;
			padding: 1rlh 3rlh;
			max-width: calc(28em + 6rlh);
		}
	}

	&__item {
		&:not(:last-child) {
			margin-block-end: 0.5rlh;
		}

		&::before {
			content: "→️";
			font-size: 0.65em;
			position: absolute;
			margin-inline-start: -1.5em;
			margin-block-start: 0.2em;

			@media ($typography-breakpoint-large-from) {
				margin-inline-start: -1rlh;
				font-size: 0.75em;
				margin-block-start: 0.15em;
			}
		}
	}
}
