@use "../settings";

.list {
	max-width: 20rem;
	list-style-type: none;
}
@media (settings.$typography-breakpoint-large-from) {
	.list {
		margin-inline: auto;
	}
}

@media (settings.$typography-breakpoint-large-from) {
	.list:not(.list--noBackground) {
		background-color: var(--hb-colors-tinge);
		border-radius: 2em;
		padding: 1rlh 3rlh;
		max-width: calc(28em + 6rlh);
	}
}

.list__item:not(:last-child) {
	margin-block-end: 0.5rlh;
}

.list__item::before {
	content: "→️";
	font-size: 0.65em;
	position: absolute;
	margin-inline-start: -1.5em;
	margin-block-start: 0.2em;

	@media (settings.$typography-breakpoint-large-from) {
		margin-inline-start: -1rlh;
		font-size: 0.75em;
		margin-block-start: 0.15em;
	}
}
