@use "sass:color";
@use "../imports/settings";

.hb-message {
	max-width: max-content;
	margin-inline: auto;
	padding: 1rlh 2rlh;
	background-color: color-mix(in srgb, var(--hb-colors-emphasizing) 10%, transparent);
	border-radius: 2em;
	text-align: center;
}
