@use "sass:color";
@use "../imports/settings";

.hb-message {
	max-width: max-content;
	margin-inline: auto;
	padding: 1rlh 2rlh;
	background-color: color.adjust(settings.$colors-emphasizing, $alpha: -0.9);
	border-radius: 2em;
	text-align: center;
}
