@use "../settings";

.noResults {
	display: flex;
	justify-content: center;
	align-items: center;
	max-inline-size: calc(28rem + 8rlh);
	min-block-size: 10rem;
	margin-inline: -1rlh;
	padding: 1rlh;
	font-weight: bold;
	background-color: #fafafa;
	border-radius: 2em;
}
@media (settings.$header-breakpoint-navigationHiddenToVisible-visible-from) {
	.noResults {
		margin-inline: auto;
	}
}
@media (settings.$typography-breakpoint-large-from) {
	.noResults {
		padding-inline: 4rlh;
	}
}
