@use "../imports/settings";

.noResults {
	max-width: calc(28rem + 8rlh);
	margin-inline: -1rlh;
	padding: 1rlh;
	font-style: italic;
	background-color: #ddd;
}
@media (settings.$header-breakpoint-navigationHiddenToVisible-visible-from) {
	.noResults {
		margin-inline: auto;
	}
}
@media (settings.$typography-breakpoint-large-from) {
	.noResults {
		padding-inline: 4rlh;
	}
}
