.noResults {
	max-width: calc(28rem + 8rlh);
	margin-inline: -1rlh;
	padding: 1rlh;
	font-style: italic;
	background-color: #ddd;

	@media ($header-breakpoint-navigationHiddenToVisible-visible-from) {
		margin-inline: auto;
	}
	@media ($typography-breakpoint-large-from) {
		padding-inline: 4rlh;
	}
}
