@use "../settings";

.optionBox {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden; // prevent child image overflow given border radius
	background-color: var(--hb-colors-tinge);
	border-radius: 2em;
	text-decoration: none;
}
.optionBox:hover {
	color: inherit !important;
}

.optionBox__text {
	padding: 1rlh;
}
@media (settings.$description-breakpoint-twoColumns-from) {
	.optionBox__text {
		padding: 1.5rlh 2rlh;
	}
}

.optionBox__heading {
	font-weight: bold;
}
@media (settings.$typography-breakpoint-large-from) {
	.optionBox__heading {
		text-align: center;
	}
}

.optionBox__image {
	background-image: var(--hb-optionBox-image);
	background-position: var(--hb-optionBox-x-offset, center) var(--hb-optionBox-y-offset, top);
	background-size: var(--hb-optionBox-size, cover);
	background-repeat: no-repeat;
	border-radius: 0 0 2em 2em;
	display: flex;
	flex-direction: column;
	height: 13em;
	justify-content: flex-end;
	overflow: hidden;
	position: relative;
}
