@use "../settings";

// this is a workaround as WP grid block currently can't set anything beside column min size
// once more complex configuration is supported, this can be removed
.partners-grid {
	max-inline-size: 40rem;
	margin-inline: auto;
}
.partners-grid.is-layout-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(12rem, 100%), 1fr));
	gap: 2rlh 1rlh;
	align-items: center;
	justify-items: center;
	margin-block-end: 4rlh;
}
.partners-grid.is-layout-grid > * {
	max-inline-size: 10rem;
}
@media (settings.$typography-breakpoint-large-from) {
	.partners-grid.is-layout-grid > .wp-container-content-3 {
		max-inline-size: revert;
		grid-column-end: span 3;
	}
}
.partners-grid.is-layout-grid :where(.hb-wp-content *+p, .hb-wp-content *+figure, .hb-wp-content *+.wp-block-columns) {
	margin-block-start: unset;
}
