.quotation {
	font-style: italic;
	position: relative;
}
.quotation::before {
	content: "„";

	// hanging punctuation
	position: absolute;
	inset-inline-start: -0.4em;
}
.quotation::after {
	content: "“";
}
