.registration {
	max-width: 32rem;
	margin-inline: auto;
}

.registration__text {
	text-align: center;
}

.registration__actionButton {
	display: block !important;
	margin-inline: auto;
	max-width: 9em; // fallback
	max-width: max-content;
	margin-block-end: 0.5rlh;
	border: 2px solid transparent;
	cursor: pointer;
}

.registration__actionButton::after {
	top: calc(50% - 8px);
	width: 10px;
	height: 16px;
	mask-image: url("../../../images/icons/icon-arrow.svg");
	mask-repeat: no-repeat;
	mask-size: auto 100%;
	background-color: var(--hb-colors-default-background);
	background-image: none;
	transition:
		background-color 200ms ease-in-out,
		transform 200ms ease-in-out;
}