.sponsors {
	border-top: 2px solid var(--hb-colors-tinge);
	padding: 2rlh 1rlh;
	text-align: center;
}

.sponsors-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, 8em);
	grid-row-gap: 2rlh;
	grid-column-gap: 1rlh;
	align-items: center;
	justify-items: center; // center items relatively to their grid cell
	justify-content: center; // center items as a block relatively to the grid container
	max-width: 72rem;
	margin-inline: auto;
	margin-block-end: 2rlh;
	list-style-type: none;
	filter: grayscale(100%);

	.sponsors-list-item--msmt {
		max-width: 5.6em;
	}
	.sponsors-list-item--mv {
		max-width: 7.9em;
	}
	.sponsors-list-item--mzp {
		max-width: 8.2em;
	}
}

.sponsors-link {
	font-size: 0.9em;
	color: #555;
}
