<!DOCTYPE html>
<html {language_attributes()|noescape}>
<head>
	<meta charset="{bloginfo( 'charset' )}" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{block meta /}{* we need to overwrite SEO plugin social meta tags with custom in event detail *}
	{wp_head()}

	{if $enableTracking}
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){ w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-N39QMSV');</script>
	<!-- End Google Tag Manager -->
	{/if}

	<!-- Google Custom Search -->
	<script async src="https://cse.google.com/cse.js?cx=4766a09e4b0ac4a34"></script>
</head>
<body {body_class()|noescape}>
{if $enableTracking}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N39QMSV"
				  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{/if}

<div class="header-paddingFixContainer">
	<div class="dalsich50">
		Užij si <a href="https://dort.brontosaurus.cz" rel="noopener"><strong>Festival dobrovolnictví DORT</strong></a> a nastartuj dalších 50 let Brontosaura 🦕
	</div>

	<div class="header-wrapper" id="header-wrapper">
		<div class="searchForm searchForm--hidden" id="searchBar" n:if=" ! $isOnSearchResultsPage">
			<div class="searchForm__innerWrapper">
				<div class="searchForm__gcseRoot">
					<div
						class="gcse-searchbox-only"
						data-resultsUrl="{$searchResultsPageLink}"
						data-queryParameterName="q"
						data-enableAutoComplete="false"
					></div>

					<script type="text/javascript">
						window.addEventListener('load', function () {
							document.getElementById('gsc-i-id1').placeholder = 'Prohledat tento web';
							document.getElementById('___gcse_0').querySelector('button.gsc-search-button').innerHTML = 'Hledat';
						});
					</script>
				</div>

				<button class="searchForm__closeButton" id="searchBarCloseButton" title="Zavřít vyhledávání" type="button"></button>
			</div>
		</div>

		<header class="header" id="header" role="banner">
			<a class="header-logo" href="{$homePageLink}">
				<img src="{$themePath}/frontend/dist/images/logo-hb-full.png" alt="Hnutí Brontosaurus">
			</a>

			<a class="header-toggleNavigationLink" href="#navigace" id="header-toggleNavigationLink">
				<svg class="header-toggleNavigationLink-image" viewBox="0 0 78 50" xmlns="http://www.w3.org/2000/svg" aria-label="Přejít na navigaci">
					<path fill="#000000" d="M0,0 h78 v8 h-78Z M0,21 h78 v8 h-78Z M0,42 h78 v8 h-78Z"></path>
				</svg>
			</a>

			<nav class="header-mainNavigation" role="navigation">
				{if $isOnEnglishPage}
					<a class="header-mainNavigation-languageLink header-mainNavigation-languageLink--active" href="{$homePageLink}" title="Česky" aria-label="Česky" data-label="Česky">
						<span class="header-mainNavigation-languageLink-label">
							Česky
						</span>
					</a>
				{else}
					<a class="header-mainNavigation-languageLink" href="{$englishPageLink}" title="English" aria-label="English" data-label="English">
						<span class="header-mainNavigation-languageLink-label">
							English
						</span>
					</a>
				{/if}

				<ul class="header-mainNavigation-list">
					<li class="header-mainNavigation-list-item" n:foreach="$headerNavigationMenuItems as $menuItem">
						<a n:class="'header-mainNavigation-list-item-link', $menuItem->isActive ? ' header-mainNavigation-list-item-link--active'"
							href="{$menuItem->link}"{if $menuItem->isExternalLink} rel="noopener noreferrer" target="_blank"{/if}>
							{$menuItem->label}
						</a>
					</li>
				</ul>
			</nav>

			<a n:class="'header-futureEventsLink', $isOnFutureEventsPage ? ' header-futureEventsLink--active'" href="{$futureEventsPageLink}" title="Co se chystá">
				<span class="header-futureEventsLink-text">
					Co se chystá
				</span>
			</a>

			<a class="header-searchBarToggler" href="#navigace" id="searchBarToggler" title="Vyhledávání" n:if=" ! $isOnSearchResultsPage"></a>
		</header>
	</div>

	{if $withCoverPhoto}
	<div n:class="'coverPhoto', $pageClassSelector !== '', ' coverPhoto--' . $pageClassSelector"></div>
	{/if}

	<div class="content">
		{block content /}
	</div>

	<aside class="sponsors" n:if=" ! $isOnPartnersPage">
		<ul class="sponsors-list">
			<li class="sponsors-list-item sponsors-list-item--msmt">
				<a href="http://www.msmt.cz" target="_blank">
					<img src="{$themePath}/frontend/dist/images/ministerstvo-skolstvi.png" alt="Ministerstvo školství, mládeže a tělovýchovy" class="sponsors-list-item-image">
				</a>
			</li>

			<li class="sponsors-list-item">
				<a href="http://www.erasmusprogramme.com" target="_blank">
					<img src="{$themePath}/frontend/dist/images/spolufinancovano-eu.png" alt="Spolufinancováno Evropskou unií" class="sponsors-list-item-image">
				</a>
			</li>

			<li class="sponsors-list-item sponsors-list-item--mv">
				<a href="https://www.mvcr.cz" target="_blank">
					<img src="{$themePath}/frontend/dist/images/ministerstvo-vnitra.png" alt="Ministerstvo vnitra České republiky" class="sponsors-list-item-image">
				</a>
			</li>

			<li class="sponsors-list-item sponsors-list-item--mzp">
				<a href="https://www.mzp.cz" target="_blank">
					<img src="{$themePath}/frontend/dist/images/ministerstvo-zivotniho-prostredi.png" alt="Ministerstvo životního prostředí" class="sponsors-list-item-image">
				</a>
			</li>

			<li class="sponsors-list-item">
				<a href="https://www.sfzp.cz" target="_blank">
					<img src="{$themePath}/frontend/dist/images/statni-fond.png" alt="Státní fond životního prostředí České republiky" class="sponsors-list-item-image">
				</a>
			</li>
		</ul>

		Děkujeme za&nbsp;podporu <a class="sponsors-link" href="{$partnersPageLink}">všem našim partnerům</a>.
	</aside>

	<div class="newsletter">
		<h2 class="newsletter__heading">
			Chceš zůstat v&nbsp;kontaktu?
		</h2>

		<div>
			<script>
				(function (w,d,s,o,f,js,fjs) {
					w['ecm-widget']=o;w[o] = w[o] || function () { (w[o].q = w[o].q || []).push(arguments) };
					js = d.createElement(s), fjs = d.getElementsByTagName(s)[0];
					js.id = '1-43c2cd496486bcc27217c3e790fb4088'; js.dataset.a = 'hnutibrontosaurus'; js.src = f; js.async = 1; fjs.parentNode.insertBefore(js, fjs);
				}(window, document, 'script', 'ecmwidget', 'https://d70shl7vidtft.cloudfront.net/widget.js'));
			</script>
			<div id="f-1-43c2cd496486bcc27217c3e790fb4088"></div>
		</div>

		<div class="newsletter__socials">
			<a class="newsletter__instagramLink" href="https://www.instagram.com/hnutibrontosaurus" rel="noopener noreferrer" target="_blank" aria-label="Instagram Hnutí Brontosaurus"></a>
			<a class="newsletter__facebookLink" href="https://www.facebook.com/hnutibrontosaurus" rel="noopener noreferrer" target="_blank" aria-label="Facebook Hnutí Brontosaurus"></a>
			<a class="newsletter__youtubeLink" href="https://www.youtube.com/channel/UCiytQ5b-4GzZbYWDVMwNJ7A" rel="noopener noreferrer" target="_blank" aria-label="Youtube Hnutí Brontosaurus"></a>
		</div>

	</div>

	<div class="footer-wrapper" id="navigace">
		<footer class="footer">
			<nav class="footer-navigation" role="navigation">
				<ul class="footer-navigation-main" n:foreach="[$footerLeftNavigationMenuItems, $footerCenterNavigationMenuItems, $footerRightNavigationMenuItems] as $menu">
					<li class="footer-navigation-main-item" n:foreach="$menu as $menuItem">
						<a n:class="'footer-navigation-main-item-link', $menuItem->isActive ? ' footer-navigation-main-item-link--active'"
							href="{$menuItem->link}"{if $menuItem->isExternalLink} rel="noopener noreferrer" target="_blank"{/if}>
							{$menuItem->label}
						</a>
					</li>
				</ul>
			</nav>

			<div class="footer__bottom">
				<a class="footer__logo" href="{$homePageLink}" aria-label="Hnutí Brontosaurus"></a>

				<div class="footer__searchForm searchForm__gcseRoot">
					<div
						class="gcse-searchbox-only"
						data-resultsUrl="{$searchResultsPageLink}"
						data-queryParameterName="q"
						data-enableAutoComplete="false"
					></div>

					<script type="text/javascript">
						window.addEventListener('load', function () {
							document.getElementById('gsc-i-id2').placeholder = 'Prohledat web';
							const searchButtonEl = document.getElementById('___gcse_1').querySelector('button.gsc-search-button');
							if (searchButtonEl !== null) {
								searchButtonEl.innerHTML = 'Hledat';
							}
						});
					</script>
				</div>
			</div>
		</footer>
	</div>
</div>
</body>
</html>
