@font-face {
	font-family: "Delm";
	font-style: normal;
	font-weight: 300;

	src: url("../webfonts/webfont-DelmLight.eot");
	src: url("../webfonts/webfont-DelmLight.eot?#iefix") format("embedded-opentype"),
		url("../webfonts/webfont-DelmLight.woff2") format("woff2"),
		url("../webfonts/webfont-DelmLight.woff") format("woff"),
		url("../webfonts/webfont-DelmLight.ttf") format("truetype"),
		url("../webfonts/webfont-DelmLight.svg#DelmLight") format("svg");
}
@font-face {
	font-family: "Delm";
	font-style: normal;
	font-weight: 700;

	src: url("../webfonts/webfont-Delm.eot");
	src: url("../webfonts/webfont-Delm.eot?#iefix") format("embedded-opentype"),
		url("../webfonts/webfont-Delm.woff2") format("woff2"),
		url("../webfonts/webfont-Delm.woff") format("woff"),
		url("../webfonts/webfont-Delm.ttf") format("truetype"),
		url("../webfonts/webfont-Delm.svg#Delm") format("svg");
}
