/* text align */
.hb-ta-l { text-align: left !important; }
.hb-ta-c { text-align: center; }
.hb-ta-r { text-align: right; }
@media (min-width: 60.001em) { /* $typography-breakpoint-large-from */
	.hb-lg-ta-l { text-align: left; }
	.hb-lg-ta-c { text-align: center; }
	.hb-lg-ta-r { text-align: right; }
}

/* text decoration */
.hb-td-n { text-decoration: none; }
.hb-td-u { text-decoration: underline; }

/* text transform */
.hb-tt-u { text-transform: uppercase; }
.hb-tt-l { text-transform: lowercase; }
.hb-tt-n { text-transform: none !important; }

/* font size */
.hb-fs-xxs { font-size: 0.7rem; }
.hb-fs-xs { font-size: 0.8rem; }
.hb-fs-s { font-size: 0.9rem; }
.hb-fs-m { font-size: 1rem; }
.hb-fs-l { font-size: 1.1rem; }
.hb-fs-xl { font-size: 1.5rem; }

/* font weight */
.hb-fw-r { font-weight: 300; }
.hb-fw-b { font-weight: 700 !important; }

/* font style */
.hb-fst-n { font-style: normal; }
.hb-fst-i { font-style: italic; }

/* font variant caps */
.hb-fvc-sc { font-variant-caps: small-caps; }

/* border radius */
.hb-br { border-radius: 2em; }
.hb-br-unset { border-radius: unset !important; } /* because of podpor-nas */

/* display */
.hb-d-b { display: block; }
.hb-d-ib { display: inline-block; }
.hb-d-f { display: flex; }
.hb-d-g { display: grid; }
@media (min-width: 60.001em) { /* $typography-breakpoint-large-from */
	.hb-lg-d-b { display: block; }
	.hb-lg-d-ib { display: inline-block; }
	.hb-lg-d-f { display: flex; }
	.hb-lg-d-g { display: grid; }
}

/* flex */
.hb-fd-c { flex-direction: column; }
.hb-fd-r { flex-direction: row; }
.hb-fb-50 { flex-basis: 50%; }
.hb-jc-s { justify-content: start; }
.hb-jc-fs { justify-content: flex-start; }
.hb-jc-c { justify-content: center; }
.hb-jc-e { justify-content: end; }
.hb-jc-fe { justify-content: flex-end; }
.hb-jc-sa { justify-content: space-around; }
.hb-jc-sb { justify-content: space-between; }
.hb-ji-fs { justify-items: flex-start; }
.hb-ji-c { justify-items: center; }
.hb-ji-fe { justify-items: flex-end; }
.hb-js-fs { justify-self: flex-start; }
.hb-js-c { justify-self: center; }
.hb-js-fe { justify-self: flex-end; }
.hb-ai-fs { align-items: flex-start; }
.hb-ai-c { align-items: center; }
.hb-ai-fe { align-items: flex-end; }
.hb-g-0 { gap: 0; }
.hb-g-1 { gap: 0.125rlh; }
.hb-g-2 { gap: 0.25rlh; }
.hb-g-3 { gap: 0.5rlh; }
.hb-g-4 { gap: 1rlh; }
.hb-g-5 { gap: 2rlh; }
.hb-g-6 { gap: 3rlh; }
.hb-g-7 { gap: 4rlh; }
.hb-g-8 { gap: 5rlh; }
.hb-g-9 { gap: 6rlh; }
.hb-rg-0 { row-gap: 0; }
.hb-rg-1 { row-gap: 0.125rlh; }
.hb-rg-2 { row-gap: 0.25rlh; }
.hb-rg-3 { row-gap: 0.5rlh; }
.hb-rg-4 { row-gap: 1rlh; }
.hb-rg-5 { row-gap: 2rlh; }
.hb-rg-6 { row-gap: 3rlh; }
.hb-rg-7 { row-gap: 4rlh; }
.hb-rg-8 { row-gap: 5rlh; }
.hb-rg-9 { row-gap: 6rlh; }
.hb-cg-0 { column-gap: 0; }
.hb-cg-1 { column-gap: 0.125rlh; }
.hb-cg-2 { column-gap: 0.25rlh; }
.hb-cg-3 { column-gap: 0.5rlh; }
.hb-cg-4 { column-gap: 1rlh; }
.hb-cg-5 { column-gap: 2rlh; }
.hb-cg-6 { column-gap: 3rlh; }
.hb-cg-7 { column-gap: 4rlh; }
.hb-cg-8 { column-gap: 5rlh; }
.hb-cg-9 { column-gap: 6rlh; }
@media (min-width: 60.001em) { /* $typography-breakpoint-large-from */
	.hb-lg-fd-c { flex-direction: column; }
	.hb-lg-fd-r { flex-direction: row; }
	.hb-lg-jc-fs { justify-content: flex-start; }
	.hb-lg-jc-c { justify-content: center; }
	.hb-lg-jc-fe { justify-content: flex-end; }
	.hb-lg-jc-sa { justify-content: space-around; }
	.hb-lg-jc-sb { justify-content: space-between; }
	.hb-lg-ji-fs { justify-items: flex-start; }
	.hb-lg-ji-c { justify-items: center; }
	.hb-lg-ji-fe { justify-items: flex-end; }
	.hb-lg-js-fs { justify-self: flex-start; }
	.hb-lg-js-c { justify-self: center; }
	.hb-lg-js-fe { justify-self: flex-end; }
	.hb-lg-ai-fs { align-items: flex-start; }
	.hb-lg-ai-c { align-items: center; }
	.hb-lg-ai-fe { align-items: flex-end; }
	.hb-lg-g-0 { gap: 0; }
	.hb-lg-g-1 { gap: 0.125rlh; }
	.hb-lg-g-2 { gap: 0.25rlh; }
	.hb-lg-g-3 { gap: 0.5rlh; }
	.hb-lg-g-4 { gap: 1rlh; }
	.hb-lg-g-5 { gap: 2rlh; }
	.hb-lg-g-6 { gap: 3rlh; }
	.hb-lg-g-7 { gap: 4rlh; }
	.hb-lg-g-8 { gap: 5rlh; }
	.hb-lg-g-9 { gap: 6rlh; }
	.hb-lg-rg-0 { row-gap: 0; }
	.hb-lg-rg-1 { row-gap: 0.125rlh; }
	.hb-lg-rg-2 { row-gap: 0.25rlh; }
	.hb-lg-rg-3 { row-gap: 0.5rlh; }
	.hb-lg-rg-4 { row-gap: 1rlh; }
	.hb-lg-rg-5 { row-gap: 2rlh; }
	.hb-lg-rg-6 { row-gap: 3rlh; }
	.hb-lg-rg-7 { row-gap: 4rlh; }
	.hb-lg-rg-8 { row-gap: 5rlh; }
	.hb-lg-rg-9 { row-gap: 6rlh; }
	.hb-lg-cg-0 { column-gap: 0; }
	.hb-lg-cg-1 { column-gap: 0.125rlh; }
	.hb-lg-cg-2 { column-gap: 0.25rlh; }
	.hb-lg-cg-3 { column-gap: 0.5rlh; }
	.hb-lg-cg-4 { column-gap: 1rlh; }
	.hb-lg-cg-5 { column-gap: 2rlh; }
	.hb-lg-cg-6 { column-gap: 3rlh; }
	.hb-lg-cg-7 { column-gap: 4rlh; }
	.hb-lg-cg-8 { column-gap: 5rlh; }
	.hb-lg-cg-9 { column-gap: 6rlh; }
}

/* grid */
.hb-gc-1 { grid-template-columns: repeat(1, 1fr); }
.hb-gc-2 { grid-template-columns: repeat(2, 1fr); }
.hb-gc-3 { grid-template-columns: repeat(3, 1fr); } 
.hb-gc-4 { grid-template-columns: repeat(4, 1fr); }
@media (min-width: 60.001em) { /* $typography-breakpoint-large-from */
	.hb-lg-gc-1 { grid-template-columns: repeat(1, 1fr); }
	.hb-lg-gc-2 { grid-template-columns: repeat(2, 1fr); }
	.hb-lg-gc-3 { grid-template-columns: repeat(3, 1fr); } 
	.hb-lg-gc-4 { grid-template-columns: repeat(4, 1fr); }
}

.hb-f-l { float: left; }
.hb-f-r { float: right; }
.hb-c-l { clear: left; }
.hb-c-r { clear: right; }
.hb-c-b { clear: both; }
@media (max-width: 60em) { /* $typography-breakpoint-small-until */
	.hb-sm-f-l { float: left; }
	.hb-sm-f-r { float: right; }
	.hb-sm-c-l { clear: left; }
	.hb-sm-c-r { clear: right; }
	.hb-sm-c-b { clear: both; }
}
@media (min-width: 60.001em) { /* $typography-breakpoint-large-from */
	.hb-lg-f-l { float: left; }
	.hb-lg-f-r { float: right; }
	.hb-lg-c-l { clear: left; }
	.hb-lg-c-r { clear: right; }
	.hb-lg-c-b { clear: both; }
}

/* sizes */
.hb-is-100 { inline-size: 100%; }
.hb-mw-mc { max-width: max-content; }
/* todo revise sizes */
.hb-mw-28 { max-width: 28rem; }
.hb-mw-40 { max-width: 40rem; }
.hb-mw-50 { max-width: 50rem; }
.hb-mw-55ch { max-width: 55ch; }
.hb-mw-60ch { max-width: 60ch; }
.hb-mw-full { max-width: 100%; }
@media (min-width: 60.001em) { /* $typography-breakpoint-large-from */
	.hb-lg-mw-mc { max-width: max-content; }
	/* todo revise sizes */
	.hb-lg-mw-28 { max-width: 28rem; }
	.hb-lg-mw-40 { max-width: 40rem; }
	.hb-lg-mw-50 { max-width: 50rem; }
	.hb-lg-mw-full { max-width: 100%; }
}
.hb-bs-100 { block-size: 100%; }
.hb-h-18 { height: 18em; }

/* colors */
.hb-bg-default { background-color: var(--hb-colors-default-background); }
.hb-bg-emphasizing { background-color: var(--hb-colors-emphasizing); }
.hb-bg-framing { background-color: var(--hb-colors-framing); }
.hb-bg-text { background-color: var(--hb-colors-text); }
.hb-bg-tinge { background-color: var(--hb-colors-tinge); }
.hb-bg-links { background-color: var(--hb-colors-links); }
.hb-bg-error { background-color: var(--hb-colors-error); }
.hb-text-default { color: var(--hb-colors-default-background); }
.hb-text-emphasizing { color: var(--hb-colors-emphasizing); }
.hb-text-framing { color: var(--hb-colors-framing); }
.hb-text-text { color: var(--hb-colors-text); }
.hb-text-tinge { color: var(--hb-colors-tinge); }
.hb-text-links { color: var(--hb-colors-links); }
.hb-text-error { color: var(--hb-colors-error); }

/* aspect ratio */
.hb-ar-169 { aspect-ratio: 16/9; }

/* list style type */
.hb-lst-n { list-style-type: none; }

/* margin */
.hb-m-0 { margin: 0; }
.hb-m-1 { margin: 0.125rlh; }
.hb-m-2 { margin: 0.25rlh; }
.hb-m-3 { margin: 0.5rlh; }
.hb-m-4 { margin: 1rlh; }
.hb-m-5 { margin: 2rlh; }
.hb-m-6 { margin: 3rlh; }
.hb-m-7 { margin: 4rlh; }
.hb-m-8 { margin: 5rlh; }
.hb-m-9 { margin: 6rlh; }

/* margin inline */
.hb-mi-auto { margin-inline: auto; }
.hb-mi-0 { margin-inline: 0; }
.hb-mi-1 { margin-inline: 0.125rlh; }
.hb-mi-2 { margin-inline: 0.25rlh; }
.hb-mi-3 { margin-inline: 0.5rlh; }
.hb-mi-4 { margin-inline: 1rlh; }
.hb-mi-5 { margin-inline: 2rlh; }
.hb-mi-6 { margin-inline: 3rlh; }
.hb-mi-7 { margin-inline: 4rlh; }
.hb-mi-8 { margin-inline: 5rlh; }
.hb-mi-9 { margin-inline: 6rlh; }
@media (min-width: 60.001em) { /* $typography-breakpoint-large-from */
	.hb-lg-mi-auto { margin-inline: auto; }
	.hb-lg-mi-0 { margin-inline: 0; }
	.hb-lg-mi-1 { margin-inline: 0.125rlh; }
	.hb-lg-mi-2 { margin-inline: 0.25rlh; }
	.hb-lg-mi-3 { margin-inline: 0.5rlh; }
	.hb-lg-mi-4 { margin-inline: 1rlh; }
	.hb-lg-mi-5 { margin-inline: 2rlh; }
	.hb-lg-mi-6 { margin-inline: 3rlh; }
	.hb-lg-mi-7 { margin-inline: 4rlh; }
	.hb-lg-mi-8 { margin-inline: 5rlh; }
	.hb-lg-mi-9 { margin-inline: 6rlh; }
}

/* margin inline start */
.hb-mis-auto { margin-inline-start: auto; }
.hb-mis-0 { margin-inline-start: 0; }
.hb-mis-1 { margin-inline-start: 0.125rlh; }
.hb-mis-2 { margin-inline-start: 0.25rlh; }
.hb-mis-3 { margin-inline-start: 0.5rlh; }
.hb-mis-4 { margin-inline-start: 1rlh; }
.hb-mis-5 { margin-inline-start: 2rlh; }
.hb-mis-6 { margin-inline-start: 3rlh; }
.hb-mis-7 { margin-inline-start: 4rlh; }
.hb-mis-8 { margin-inline-start: 5rlh; }
.hb-mis-9 { margin-inline-start: 6rlh; }

/* margin inline end */
.hb-mie-auto { margin-inline-end: auto; }
.hb-mie-0 { margin-inline-end: 0; }
.hb-mie-1 { margin-inline-end: 0.125rlh; }
.hb-mie-2 { margin-inline-end: 0.25rlh; }
.hb-mie-3 { margin-inline-end: 0.5rlh; }
.hb-mie-4 { margin-inline-end: 1rlh; }
.hb-mie-5 { margin-inline-end: 2rlh; }
.hb-mie-6 { margin-inline-end: 3rlh; }
.hb-mie-7 { margin-inline-end: 4rlh; }
.hb-mie-8 { margin-inline-end: 5rlh; }
.hb-mie-9 { margin-inline-end: 6rlh; }

/* margin block */
.hb-mb-auto { margin-block: auto; }
.hb-mb-0 { margin-block: 0; }
.hb-mb-1 { margin-block: 0.125rlh; }
.hb-mb-2 { margin-block: 0.25rlh; }
.hb-mb-3 { margin-block: 0.5rlh; }
.hb-mb-4 { margin-block: 1rlh; }
.hb-mb-5 { margin-block: 2rlh; }
.hb-mb-6 { margin-block: 3rlh; }
.hb-mb-7 { margin-block: 4rlh; }
.hb-mb-8 { margin-block: 5rlh; }
.hb-mb-9 { margin-block: 6rlh; }
.hb-mbn-1 { margin-block: -0.125rlh; }
.hb-mbn-2 { margin-block: -0.25rlh; }
.hb-mbn-3 { margin-block: -0.5rlh; }
.hb-mbn-4 { margin-block: -1rlh; }
.hb-mbn-5 { margin-block: -2rlh; }
.hb-mbn-6 { margin-block: -3rlh; }
.hb-mbn-7 { margin-block: -4rlh; }
.hb-mbn-8 { margin-block: -5rlh; }
.hb-mbn-9 { margin-block: -6rlh; }

/* margin block start */
.hb-mbs-auto { margin-block-start: auto; }
.hb-mbs-0 { margin-block-start: 0; }
.hb-mbs-1 { margin-block-start: 0.125rlh; }
.hb-mbs-2 { margin-block-start: 0.25rlh; }
.hb-mbs-3 { margin-block-start: 0.5rlh; }
.hb-mbs-4 { margin-block-start: 1rlh; }
.hb-mbs-5 { margin-block-start: 2rlh; }
.hb-mbs-6 { margin-block-start: 3rlh; }
.hb-mbs-7 { margin-block-start: 4rlh; }
.hb-mbs-8 { margin-block-start: 5rlh; }
.hb-mbs-9 { margin-block-start: 6rlh; }
.hb-mbns-1 { margin-block-start: -0.125rlh; }
.hb-mbns-2 { margin-block-start: -0.25rlh; }
.hb-mbns-3 { margin-block-start: -0.5rlh; }
.hb-mbns-4 { margin-block-start: -1rlh; }
.hb-mbns-5 { margin-block-start: -2rlh; }
.hb-mbns-6 { margin-block-start: -3rlh; }
.hb-mbns-7 { margin-block-start: -4rlh; }
.hb-mbns-8 { margin-block-start: -5rlh; }
.hb-mbns-9 { margin-block-start: -6rlh; }

/* margin block end */
.hb-mbe-auto { margin-block-end: auto; }
.hb-mbe-0 { margin-block-end: 0 !important; }
.hb-mbe-1 { margin-block-end: 0.125rlh; }
.hb-mbe-2 { margin-block-end: 0.25rlh; }
.hb-mbe-3 { margin-block-end: 0.5rlh !important; }
.hb-mbe-4 { margin-block-end: 1rlh !important; }
.hb-mbe-5 { margin-block-end: 2rlh; }
.hb-mbe-6 { margin-block-end: 3rlh; }
.hb-mbe-7 { margin-block-end: 4rlh; }
.hb-mbe-8 { margin-block-end: 5rlh; }
.hb-mbe-9 { margin-block-end: 6rlh; }
.hb-mbne-1 { margin-block-end: -0.125rlh; }
.hb-mbne-2 { margin-block-end: -0.25rlh; }
.hb-mbne-3 { margin-block-end: -0.5rlh !important; }
.hb-mbne-4 { margin-block-end: -1rlh; }
.hb-mbne-5 { margin-block-end: -2rlh; }
.hb-mbne-6 { margin-block-end: -3rlh; }
.hb-mbne-7 { margin-block-end: -4rlh; }
.hb-mbne-8 { margin-block-end: -5rlh; }
.hb-mbne-9 { margin-block-end: -6rlh; }
@media (min-width: 60.001em) { /* $typography-breakpoint-large-from */
	.hb-lg-mbe-auto { margin-block-end: auto; }
	.hb-lg-mbe-0 { margin-block-end: 0; }
	.hb-lg-mbe-1 { margin-block-end: 0.125rlh; }
	.hb-lg-mbe-2 { margin-block-end: 0.25rlh; }
	.hb-lg-mbe-3 { margin-block-end: 0.5rlh; }
	.hb-lg-mbe-4 { margin-block-end: 1rlh; }
	.hb-lg-mbe-5 { margin-block-end: 2rlh !important; }
	.hb-lg-mbe-6 { margin-block-end: 3rlh; }
	.hb-lg-mbe-7 { margin-block-end: 4rlh; }
	.hb-lg-mbe-8 { margin-block-end: 5rlh; }
	.hb-lg-mbe-9 { margin-block-end: 6rlh; }
}

/* padding */
.hb-p-0 { padding: 0; }
.hb-p-1 { padding: 0.125rlh; }
.hb-p-2 { padding: 0.25rlh; }
.hb-p-3 { padding: 0.5rlh; }
.hb-p-4 { padding: 1rlh; }
.hb-p-5 { padding: 2rlh; }
.hb-p-6 { padding: 3rlh; }
.hb-p-7 { padding: 4rlh; }
.hb-p-8 { padding: 5rlh; }
.hb-p-9 { padding: 6rlh; }

/* padding inline */
.hb-pi-auto { padding-inline: auto; }
.hb-pi-0 { padding-inline: 0; }
.hb-pi-1 { padding-inline: 0.125rlh; }
.hb-pi-2 { padding-inline: 0.25rlh; }
.hb-pi-3 { padding-inline: 0.5rlh; }
.hb-pi-4 { padding-inline: 1rlh; }
.hb-pi-5 { padding-inline: 2rlh; }
.hb-pi-6 { padding-inline: 3rlh; }
.hb-pi-7 { padding-inline: 4rlh; }
.hb-pi-8 { padding-inline: 5rlh; }
.hb-pi-9 { padding-inline: 6rlh; }
@media (min-width: 60.001em) { /* $typography-breakpoint-large-from */
	.hb-lg-pi-auto { padding-inline: auto; }
	.hb-lg-pi-0 { padding-inline: 0; }
	.hb-lg-pi-1 { padding-inline: 0.125rlh; }
	.hb-lg-pi-2 { padding-inline: 0.25rlh; }
	.hb-lg-pi-3 { padding-inline: 0.5rlh; }
	.hb-lg-pi-4 { padding-inline: 1rlh; }
	.hb-lg-pi-5 { padding-inline: 2rlh; }
	.hb-lg-pi-6 { padding-inline: 3rlh; }
	.hb-lg-pi-7 { padding-inline: 4rlh; }
	.hb-lg-pi-8 { padding-inline: 5rlh; }
	.hb-lg-pi-9 { padding-inline: 6rlh; }
}

/* padding inline start */
.hb-pis-auto { padding-inline-start: auto; }
.hb-pis-0 { padding-inline-start: 0; }
.hb-pis-1 { padding-inline-start: 0.125rlh; }
.hb-pis-2 { padding-inline-start: 0.25rlh; }
.hb-pis-3 { padding-inline-start: 0.5rlh; }
.hb-pis-4 { padding-inline-start: 1rlh; }
.hb-pis-5 { padding-inline-start: 2rlh; }
.hb-pis-6 { padding-inline-start: 3rlh; }
.hb-pis-7 { padding-inline-start: 4rlh; }
.hb-pis-8 { padding-inline-start: 5rlh; }
.hb-pis-9 { padding-inline-start: 6rlh; }
@media (min-width: 60.001em) { /* $typography-breakpoint-large-from */
	.hb-lg-pis-auto { padding-inline-start: auto; }
	.hb-lg-pis-0 { padding-inline-start: 0; }
	.hb-lg-pis-1 { padding-inline-start: 0.125rlh; }
	.hb-lg-pis-2 { padding-inline-start: 0.25rlh; }
	.hb-lg-pis-3 { padding-inline-start: 0.5rlh; }
	.hb-lg-pis-4 { padding-inline-start: 1rlh; }
	.hb-lg-pis-5 { padding-inline-start: 2rlh; }
	.hb-lg-pis-6 { padding-inline-start: 3rlh; }
	.hb-lg-pis-7 { padding-inline-start: 4rlh; }
	.hb-lg-pis-8 { padding-inline-start: 5rlh; }
	.hb-lg-pis-9 { padding-inline-start: 6rlh; }
}

/* padding inline end */
.hb-pie-auto { padding-inline-end: auto; }
.hb-pie-0 { padding-inline-end: 0; }
.hb-pie-1 { padding-inline-end: 0.125rlh; }
.hb-pie-2 { padding-inline-end: 0.25rlh; }
.hb-pie-3 { padding-inline-end: 0.5rlh; }
.hb-pie-4 { padding-inline-end: 1rlh; }
.hb-pie-5 { padding-inline-end: 2rlh; }
.hb-pie-6 { padding-inline-end: 3rlh; }
.hb-pie-7 { padding-inline-end: 4rlh; }
.hb-pie-8 { padding-inline-end: 5rlh; }
.hb-pie-9 { padding-inline-end: 6rlh; }

/* padding block */
.hb-pb-auto { padding-block: auto; }
.hb-pb-0 { padding-block: 0; }
.hb-pb-1 { padding-block: 0.125rlh; }
.hb-pb-2 { padding-block: 0.25rlh; }
.hb-pb-3 { padding-block: 0.5rlh; }
.hb-pb-4 { padding-block: 1rlh; }
.hb-pb-5 { padding-block: 2rlh; }
.hb-pb-6 { padding-block: 3rlh; }
.hb-pb-7 { padding-block: 4rlh; }
.hb-pb-8 { padding-block: 5rlh; }
.hb-pb-9 { padding-block: 6rlh; }

/* padding block start */
.hb-pbs-auto { padding-block-start: auto; }
.hb-pbs-0 { padding-block-start: 0; }
.hb-pbs-1 { padding-block-start: 0.125rlh; }
.hb-pbs-2 { padding-block-start: 0.25rlh; }
.hb-pbs-3 { padding-block-start: 0.5rlh; }
.hb-pbs-4 { padding-block-start: 1rlh; }
.hb-pbs-5 { padding-block-start: 2rlh; }
.hb-pbs-6 { padding-block-start: 3rlh; }
.hb-pbs-7 { padding-block-start: 4rlh; }
.hb-pbs-8 { padding-block-start: 5rlh; }
.hb-pbs-9 { padding-block-start: 6rlh; }
.hb-pbns-1 { padding-block-start: -0.125rlh; }
.hb-pbns-2 { padding-block-start: -0.25rlh; }
.hb-pbns-3 { padding-block-start: -0.5rlh; }
.hb-pbns-4 { padding-block-start: -1rlh; }
.hb-pbns-5 { padding-block-start: -2rlh; }
.hb-pbns-6 { padding-block-start: -3rlh; }
.hb-pbns-7 { padding-block-start: -4rlh; }
.hb-pbns-8 { padding-block-start: -5rlh; }
.hb-pbns-9 { padding-block-start: -6rlh; }

/* padding block end */
.hb-pbe-auto { padding-block-end: auto; }
.hb-pbe-0 { padding-block-end: 0; }
.hb-pbe-1 { padding-block-end: 0.125rlh; }
.hb-pbe-2 { padding-block-end: 0.25rlh; }
.hb-pbe-3 { padding-block-end: 0.5rlh; }
.hb-pbe-4 { padding-block-end: 1rlh; }
.hb-pbe-5 { padding-block-end: 2rlh; }
.hb-pbe-6 { padding-block-end: 3rlh; }
.hb-pbe-7 { padding-block-end: 4rlh; }
.hb-pbe-8 { padding-block-end: 5rlh; }
.hb-pbe-9 { padding-block-end: 6rlh; }
@media (min-width: 60.001em) { /* $typography-breakpoint-large-from */
	.hb-lg-pbe-auto { padding-block-end: auto; }
	.hb-lg-pbe-0 { padding-block-end: 0; }
	.hb-lg-pbe-1 { padding-block-end: 0.125rlh; }
	.hb-lg-pbe-2 { padding-block-end: 0.25rlh; }
	.hb-lg-pbe-3 { padding-block-end: 0.5rlh; }
	.hb-lg-pbe-4 { padding-block-end: 1rlh; }
	.hb-lg-pbe-5 { padding-block-end: 2rlh; }
	.hb-lg-pbe-6 { padding-block-end: 3rlh; }
	.hb-lg-pbe-7 { padding-block-end: 4rlh; }
	.hb-lg-pbe-8 { padding-block-end: 5rlh; }
	.hb-lg-pbe-9 { padding-block-end: 6rlh; }
}

/* spacer */
.hb-spacer-0 { height: 0; }
.hb-spacer-1 { height: 0.125rlh; }
.hb-spacer-2 { height: 0.25rlh; }
.hb-spacer-3 { height: 0.5rlh; }
.hb-spacer-4 { height: 1rlh; }
.hb-spacer-5 { height: 2rlh; }
.hb-spacer-6 { height: 3rlh; }
.hb-spacer-7 { height: 4rlh; }
.hb-spacer-8 { height: 5rlh; }
.hb-spacer-9 { height: 6rlh; }
@media (min-width: 60.001em) { /* $typography-breakpoint-large-from */
	.hb-lg-spacer-0 { height: 0; }
	.hb-lg-spacer-1 { height: 0.125rlh; }
	.hb-lg-spacer-2 { height: 0.25rlh; }
	.hb-lg-spacer-3 { height: 0.5rlh; }
	.hb-lg-spacer-4 { height: 1rlh; }
	.hb-lg-spacer-5 { height: 2rlh; }
	.hb-lg-spacer-6 { height: 3rlh; }
	.hb-lg-spacer-7 { height: 4rlh; }
	.hb-lg-spacer-8 { height: 5rlh; }
	.hb-lg-spacer-9 { height: 6rlh; }
}
