@mixin hb-content() {
	ol,
	p,
	ul {
		@include block-text();
	}

	* + p,
	* + figure,
	* + .wp-block-columns {
		margin-block-start: 1rlh;
	}

	.wp-block-columns {
		display: grid;
		grid-gap: 1rlh;
		grid-template-columns: 1fr;
		justify-content: center;
		max-width: 28rem;

		@media (min-width: 40.001em) and ($typography-breakpoint-small-until) {
			margin-inline: -1rlh;
			max-width: calc(28rem + 2rlh);
		}
		@media ($typography-breakpoint-large-from) {
			grid-template-columns: 1fr 1fr;
			margin-inline: auto;
			max-width: 40rem;
		}

		.wp-block-column {
			grid-column-start: span 2;
			margin-inline-start: revert;

			@media ($typography-breakpoint-large-from) {
				grid-column-start: span 1;
			}
		}
	}

	// see editor.js for image styles
	.wp-block-image {
		&:not(.is-style-sharp) {
			img {
				border-radius: 2em;
			}
		}
	}
}
